<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    $(document).ready(function () {
        getGraph();
        getGraph2();
        getGraph3();
        getGraph4();
    });

    function getGraph() {
        let labelsList = [];
        let dataList = [];
        let label;

        $.ajax({
            url: "/admin/admin.monthly",
            type: "get",
            dataType: "json",
            success: function (data) {
                console.log(data.Graph.labelsList[0]);
                console.log(data.Graph.dataList[0]);
                label = data.Graph.label;
                // 그래프로 나타낼 자료 리스트에 담기
                for (let i = 0; i < data.Graph.labelsList.length; i++) {
                    labelsList.push(data.Graph.labelsList[i]);
                    dataList.push(data.Graph.dataList[i]);
                }
                console.log(label);
                console.log(dataList);
                // 그래프
                new Chart(document.getElementById("line-chart"), {
                    type: 'line',
                    data: {
                        labels: labelsList, // X축
                        datasets: [{
                            data: dataList, // 값
                            label: label,
                            borderColor: "#3e95cd",
                            fill: false
                        }
                        ]
                    },
                    options: {
                        maintainAspectRatio: false,
                        title: {
                            display: true,
                            text: '매출'
                        }
                    }
                }); //그래프
            },
            error: function () {
                alert("실패");
            }

        }) // ajax
    } // getGraph
    function getGraph2() {
        let labelsList = [];
        let dataList = [];
        let label;
        let strRGBAList = [];
        $.ajax({
            url: "/admin/admin.monthlyZone",
            type: "get",
            dataType: "json",
            success: function (data) {
                console.log(data.Graph.labelsList[0]);
                console.log(data.Graph.dataList[0]);
                label = data.Graph.label;

                // 그래프로 나타낼 자료 리스트에 담기
                for (let i = 0; i < data.Graph.labelsList.length; i++) {
                    labelsList.push(data.Graph.labelsList[i]);
                    dataList.push(data.Graph.dataList[i]);
                    var RGB_1 = Math.floor(Math.random() * (255 + 1));
                    var RGB_2 = Math.floor(Math.random() * (255 + 1));
                    var RGB_3 = Math.floor(Math.random() * (255 + 1));
                    var strRGBA = 'rgba(' + RGB_1 + ',' + RGB_2 + ',' + RGB_3 + ',0.3)';
                    strRGBAList.push(strRGBA);
                }
                console.log(label);
                console.log(dataList);
                // 그래프
                new Chart(document.getElementById("pie-chart"), {
                    type: 'pie',
                    data: {
                        labels: labelsList, // X축
                        datasets: [{
                            data: dataList, // 값
                            label: label,
                            backgroundColor: strRGBAList,
                            fill: false
                        }
                        ]
                    },
                    options: {
                        title: {
                            display: true,
                            text: '매출비율'
                        }
                    }
                }); //그래프
            },
            error: function () {
                alert("실패");
            }

        }) // ajax
    } // getGraph

    function getGraph3() {
        let labelsList = [];
        let dataList = [];
        let label;
        let strRGBAList = [];
        $.ajax({
            url: "/admin/admin.monthlyZoneUser",
            type: "get",
            dataType: "json",
            success: function (data) {
                console.log(data.Graph.labelsList[0]);
                console.log(data.Graph.dataList[0]);
                label = data.Graph.label;

                // 그래프로 나타낼 자료 리스트에 담기
                for (let i = 0; i < data.Graph.labelsList.length; i++) {
                    labelsList.push(data.Graph.labelsList[i]);
                    dataList.push(data.Graph.dataList[i]);
                    var RGB_1 = Math.floor(Math.random() * (255 + 1));
                    var RGB_2 = Math.floor(Math.random() * (255 + 1));
                    var RGB_3 = Math.floor(Math.random() * (255 + 1));
                    var strRGBA = 'rgba(' + RGB_1 + ',' + RGB_2 + ',' + RGB_3 + ',0.3)';
                    strRGBAList.push(strRGBA);
                }
                console.log(label);
                console.log(dataList);
                // 그래프
                new Chart(document.getElementById("pie-chart-use"), {
                    type: 'pie',
                    data: {
                        labels: labelsList, // X축
                        datasets: [{
                            data: dataList, // 값
                            label: label,
                            backgroundColor: strRGBAList,
                            fill: false
                        }
                        ]
                    },
                    options: {
                        title: {
                            display: true,
                            text: '인원수'
                        }
                    }
                }); //그래프
            },
            error: function () {
                alert("실패");
            }

        }) // ajax
    } // getGraph

    function getGraph4() {
        let labelsList = [];
        let dataList = [];
        let label;
        let strRGBAList = [];
        $.ajax({
            url: "/admin/admin.ReviewScore",
            type: "get",
            dataType: "json",
            success: function (data) {
                console.log(data.Graph.labelsList[0]);
                console.log(data.Graph.dataList[0]);
                label = data.Graph.label;
                // 그래프로 나타낼 자료 리스트에 담기
                for (let i = 0; i < data.Graph.labelsList.length; i++) {
                    labelsList.push(data.Graph.labelsList[i]);
                    dataList.push(data.Graph.dataList[i]);
                    var RGB_1 = Math.floor(Math.random() * (255 + 1));
                    var RGB_2 = Math.floor(Math.random() * (255 + 1));
                    var RGB_3 = Math.floor(Math.random() * (255 + 1));
                    var strRGBA = 'rgba(' + RGB_1 + ',' + RGB_2 + ',' + RGB_3 + ',0.3)';
                    strRGBAList.push(strRGBA);
                }
                console.log(label);
                console.log(dataList);
                // 그래프
                new Chart(document.getElementById("bar-chart"), {
                    type: 'bar',
                    data: {
                        labels: labelsList, // X축
                        datasets: [{
                            data: dataList, // 값
                            label: label,
                            backgroundColor: strRGBAList,
                            fill: false
                        }
                        ]
                    },
                    options: {
                        title: {
                            display: true,
                            text: '별점'
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    min: 0,
                                    max: 10,
                                }
                            }]
                        }
                    }

                }); //그래프
            },
            error: function () {
                alert("실패");
            }

        }) // ajax
    } // getGraph
</script>

<div class="row">
    <div class="col-md-9 col-sm-12">
        <canvas id="line-chart"></canvas>
    </div>
    <div class="col-md-3 col-sm-5">
        <div class="pie">
            <canvas id="pie-chart"></canvas>
        </div>
        <div class="pie2">
            <canvas id="pie-chart-use"></canvas>
        </div>
    </div>
    <div class="col-md-9 col-sm-12">
        <canvas id="bar-chart"></canvas>
    </div>

</div>

<style>
    .pie{
        border: 1px black solid;
    }
    .pie2{
        border: 1px black solid;
        border-top-width: 0;
    }
</style>