<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camp.camping.mapper.HomeMapper">

	<select id="lnglat" parameterType="Integer" resultType="Home">
		SELECT home_lng, home_lat FROM home WHERE admin_code=#{adcode}
		<!-- SELECT home_lng, home_lat FROM home WHERE admin_code=#{adcode} -->
	</select>
		
</mapper>