<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camp.camping.mapper.ReservationMapper">
    <insert id="insert" parameterType="ReservationDTO">
        INSERT INTO reservation(user_id, user_password, user_name, user_birthday, user_phone_number)
        VALUES (#{book_code}, #{reservation_date}, #{reservation_detail})
    </insert>
    <select id="select" resultType="UserDTO">
        SELECT *
        FROM reservation
        WHERE reservation_code = #{reservation_code}
    </select>
    <select id="selectAll" resultType="UserDTO">
        SELECT *
        FROM reservation
    </select>
    <update id="update" parameterType="UserDTO">
        UPDATE reservation
        SET user_password=#{user_password},
            user_phone_number=#{user_phone_number}
        WHERE reservation_code = #{reservation_code}
    </update>
    <delete id="delete">
        DELETE
        FROM reservation
        WHERE reservation_code = #{reservation_code}
    </delete>
</mapper>