<script>
  $(document).ready(function () {
    $('.fac_form a[name=edit]').click(function () {
      $(this).parent().attr({
        'action': 'facility/edit',
      });
      $(this).parent().submit();
    });
    $('.fac_form a[name=delete]').click(function () {
      if (confirm("정말 삭제하시겠습니까?")) {
        $(this).parent().attr({
          'action': 'facility/delete',
        });
        $(this).parent().submit();
      } else return;
    });
  });

</script>

<main id="main" class="main">
<div class="zonetitle">
  <div class="pagetitle">
    <h1>시설안내 수정</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/main}">Home</a></li>
        <li class="breadcrumb-item active">facility edit</li>
      </ol>
    </nav>
  </div>
  <div class="pagetitle">
    <a href="facility/insert" class="btn btn-outline-primary">
    	<h1>새 시설 추가하기</h1>
    </a>
   </div>
</div>

  <section class="section">
    <div class="row">

      <span th:each="fac:${facilities}">
      
        <div class="col-lg-12 zone-col-12">
          <div class="card card-radius">
          
            <div class="card-body">
              <h5 class="card-title" th:text="${fac.facility_name}"></h5>
              <hr>
              <p th:text="${fac.facility_content}"></p>
              <img class="zoneimg" th:src="'images/'+${fac.image_file}" style="height: 500px; width:100%;" />
              <p th:text="${fac.image_file}"></p>
            </div>
            
            <form class="fac_form Btn" method="post" action="facility/edit">
              <input type="hidden" name="facility_code" th:value="${fac.facility_code}"/>
              <a class="btn btn-primary" href="#e" name="edit">수정</a>
              <a class="btn btn-primary" href="#d" name="delete">삭제</a>
            </form>
          </div>
        </div>
        
      </span>
    </div>
  </section>

</main><!-- End #main -->