<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/weather.css}">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script>
		function weather() {
			jQuery.ajax({
				url: "/weather/getweather",
				type: 'get',
				contentType: "application/json",
				dataType: "json",
				success: function (data) {
					console.log("sucee");
					console.log(data);
				}
			})
		}
	</script>
	<script th:src="@{/js/weather.js}"></script>

</head>

<body>

</body>

</html>