<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>

<script>
	
	
	
	
	
	
	

	
	function weather(){
		jQuery.ajax({
			url:"/weather/getweather",
			type:'get',
			//timeout:30000,
			contentType:"application/json",
			dataType:"json",
			success:function(data){
				let dataHeader=data.json1.response.header.resultCode;
				let dataHeader2=data.json2.response.header.resultCode;
				
				if(dataHeader=="00"&&dataHeader2=="00"){
					console.log("sucee");
					console.log(data);
				}else{
					console.log("sucee");
					console.log(data);
				}
				
				
				
				
			}
			
			
		})
		
	}
	
	
</script>

</head>

<body>

<button onclick="paymentDo()">결제하기기</button> <!-- 결제하기 버튼 생성 -->
<button onclick="weather()">날씨정보</button> 

</body>
</html>
