<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5e9efbc778e5ecd71ca55357c6a2da32"></script>
<script>
   function kakaomap() {
      var lng = '[[${kkomap.home_longitude}]]';
      var lat = '[[${kkomap.home_latitude}]]';

      var container = document.getElementById('map');
      var options = {
         center: new kakao.maps.LatLng(lng, lat),
         draggable: false,
         level: 2
      };
      var map = new kakao.maps.Map(container, options);

      var mapTypeControl = new kakao.maps.MapTypeControl();

      var zoomControl = new kakao.maps.ZoomControl();
      map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

      var imageSrc = '/images/map_icon1.png',
         imageSize = new kakao.maps.Size(70, 110),
         imageOption = { offset: new kakao.maps.Point(27, 72) };

      var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
         markerPosition = new kakao.maps.LatLng(lng, lat);

      var marker = new kakao.maps.Marker({
         position: markerPosition,
         image: markerImage
      });

      marker.setMap(map);
   }

   $(document).ready(function () {
      kakaomap();
   });
</script>
<div class="row">
   <div class="col-md-12">
      <div class="titlepage">
         <h2>오시는 길</h2>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
      <div class="map_main">
         <div id="map"></div>
      </div>
   </div>
</div>