<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camp.camping.mapper.BookMapper">
    <insert id="insert" parameterType="BookDTO">
        INSERT INTO book(site_code, user_code, merchant_uid, book_member, book_checkin, book_checkout, book_price,
                         book_car_number)
        VALUES (#{site_code}, #{user_code}, #{merchant_uid}, #{book_member}, #{book_checkin}, #{book_checkout},
                #{book_price}, #{book_car_number})
    </insert>
    <insert id="insert2" parameterType="BookDTO">
        INSERT INTO book(site_code, user_code, merchant_uid, book_member, book_checkin, book_checkout, book_price,
                         book_car_number, book_writedate, book_state)
        VALUES (#{site_code}, #{user_code}, #{merchant_uid}, #{book_member}, #{book_checkin}, #{book_checkout},
                #{book_price}, #{book_car_number},#{book_writedate},#{book_state})
    </insert>
    <select id="select" resultType="BookDTO">
        SELECT *
        FROM book
        WHERE book_code = #{book_code}
    </select>
    <select id="selectMerchant" resultType="BookDTO">
        SELECT *
        FROM book
        WHERE merchant_uid = #{merchant_uid}
    </select>
    <select id="selectAll" resultType="BookDTO">
        SELECT *
        FROM book
    </select>
    <select id="selectUserAll" resultType="BookDTO">
        SELECT  book.book_member book_member,
                book.book_checkin book_checkin, 
                book.book_checkout book_checkout,
                book.book_price book_price,
                book.book_car_number book_car_number,
                book.book_state book_state,
                site.site_name site_name,
                book.merchant_uid merchant_uid,
                book.book_code book_code,
                image.image_file book_site_image
        FROM book 
        JOIN site 
        ON book.site_code = site.site_code 
        JOIN image
        ON site.site_code = image.site_code
        WHERE user_code=#{user_code} 
        ORDER BY book_code DESC
    </select>
     <select id="selectUserSiteBook" resultType="BookDTO">
        SELECT book.book_code 
        FROM book
        JOIN user
        ON book.user_code = user.user_code
        WHERE book.site_code = #{site_code} AND book.user_code=#{user_code}
    </select>
    <select id="selectUserSiteReview" resultType="BookDTO">
        SELECT book.book_code 
        FROM book
        JOIN user
        ON book.user_code = user.user_code
        JOIN review
        ON book.book_Code = review.book_code
        WHERE book.site_code = #{site_code} AND book.user_code=#{user_code}
    </select>
    <update id="update" parameterType="BookDTO">
        UPDATE book
        SET book_member=#{book_member},
            book_price=#{book_price},
            book_car_number=#{book_car_number},
            book_state=#{book_state}
        WHERE book_code = #{book_code}
    </update>
    <delete id="delete">
        DELETE
        FROM book
        WHERE book_code = #{book_code}
    </delete>
    
    <update id="updateBookState">
        UPDATE book
        SET book_state=#{state}
        WHERE merchant_uid = #{merchant_uid}
    </update>
   
    
</mapper>