<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camp.camping.mapper.HomeMapper">
    <select id="select" resultType="HomeDTO">
      SELECT 
        * 
      FROM 
        home 
      JOIN 
        admin 
          ON 
            home.admin_code = admin.admin_code 
      WHERE 
        company_code=#{companycode}
    </select>
</mapper>