<script>
   $(document).ready(function () {
      $(".nav-item:nth-child(5)").attr('class', 'nav-item active');
      $(".notactive:nth-child(5)").attr('class', 'active');
      
      
      var bookFrom=$("#bookForm");
      $("#bookForm>div>input[type='button']").click(function(){
    		 bookFrom.submit();	   
      });
      
      
   });
</script>
<!--달력 생성 scipt-->
<script type="text/javascript">
   var selectDate1 = null;
   var selectDate2 = null;
   var checkInYear = null;
   var checkOutYear = null;
   var checkInMonth = null;
   var checkOutMonth = null;
   var checkInDate = null;
   var checkOutdDate = null;
   var today = null;

   //0이 붙은 숫자라 숫자화를 위해 0을 한번 빼줌
   function number() {
      checkInYear -= 0;
      checkOutYear -= 0;
      checkInDate -= 0;
      checkOutdDate -= 0;
      checkInMonth -= 0;
      checkOutMonth -= 0;
   };

   function change3() {
      var t = checkInYear;
      checkInYear = checkOutYear;
      checkOutYear = t;
      t = checkInDate;
      checkInDate = checkOutdDate;
      checkOutdDate = t;
      t = checkInMonth;
      checkInMonth = checkOutMonth;
      checkOutMonth = t;
   };

   //달력에 예약날짜 기간 표시
   function bookPointOn() {
      number();
      if (checkInYear && checkOutYear) {
         if ((checkInYear * 10000 + checkInMonth * 100 + checkInDate)
            > (checkOutYear * 10000 + checkOutMonth * 100 + checkOutdDate)) {
            change3();
         }

         //보고있는 달과 클릭한 달이 같은 달일 때
         var startDay = checkInDate;
         var endDay = checkOutdDate;

         //보고있는 달과 클릭한 달이 다른 달일 때
         if ((today.getFullYear() * 100 + today.getMonth() + 1) < (checkInYear * 100 + checkInMonth)) {
            startDay = 32;
         } else if ((today.getFullYear() * 100 + today.getMonth() + 1) > (checkInYear * 100 + checkInMonth)) {
            startDay = 0;
         }
         if ((today.getFullYear() * 100 + today.getMonth() + 1) < (checkOutYear * 100 + checkOutMonth)) {
            endDay = 32;
         } else if ((today.getFullYear() * 100 + today.getMonth() + 1) > (checkOutYear * 100 + checkOutMonth)) {
            endDay = 0;

         }
         for (var i = startDay; i <= endDay; i++) {
            $('#' + i + '').attr('style', 'background-color: rgb(247,233,231);');
         }
      }
   };

   //달력에 예약날짜 기간 표시 없애기
   function bookPointOff() {
      checkInYear = null;
      checkOutYear = null;
      checkInMonth = null;
      checkOutMonth = null;
      checkInDate = null;
      checkOutdDate = null;
      for (var i = 1; i <= 31; i++) {
         $('#' + i + '').attr('style', 'background-color: while;');
      }
   };

   function buildCalendar() {
      if (today == null) {
         today = new Date();
      }
      var row = null
      var cnt = 0;
      var calendarTable = document.getElementById("calendar");
      var calendarTableTitle = document.getElementById("calendarTitle");
      calendarTableTitle.innerHTML = today.getFullYear() + "년" + (today.getMonth() + 1) + "월";

      var firstDate = new Date(today.getFullYear(), today.getMonth(), 1);
      var lastDate = new Date(today.getFullYear(), today.getMonth() + 1, 0);
      while (calendarTable.rows.length > 2) {
         calendarTable.deleteRow(calendarTable.rows.length - 1);
      }

      row = calendarTable.insertRow();
      for (i = 0; i < firstDate.getDay(); i++) {
         cell = row.insertCell();
         cnt += 1;
      }

      for (i = 1; i <= lastDate.getDate(); i++) {

         cell = row.insertCell();
         cnt += 1;

         cell.setAttribute('id', i);
         cell.innerHTML = "<a href='#check'>" + i + "</a>";
         cell.align = "center";


         cell.onclick = function () {
            clickedYear = today.getFullYear();
            clickedMonth = (1 + today.getMonth());
            clickedDate = this.getAttribute('id');

            clickedDate = clickedDate >= 10 ? clickedDate : '0' + clickedDate;
            clickedMonth = clickedMonth >= 10 ? clickedMonth : '0' + clickedMonth;
            clickedYMD = clickedYear + "-" + clickedMonth + "-" + clickedDate;

            if (selectDate1 == null) {
               selectDate1 = clickedYMD;

               bookPointOff();
               
               checkInYear = clickedYear;
               checkInMonth = clickedMonth;
               checkInDate = clickedDate;
            } else if (selectDate1 == clickedYMD) {
               alert("최소 1박이상을 선택해주세요.")
               return;
            } else if (selectDate1 != null) {
               selectDate2 = clickedYMD;
               checkOutYear = clickedYear;
               checkOutMonth = clickedMonth;
               checkOutdDate = clickedDate;
               
               bookPointOn();
               
               $.ajax({
                  url: '/selectDate',
                  type: 'post',
                  data: { 'selectDate1': selectDate1, 'selectDate2': selectDate2, 'company_code':'[[${session.company.company_code}]]' },
                  success: function (result) {
                     $('#bookForm>div>input[name=book_checkin]').val(result.book_checkin);
                     $('#bookForm>div>input[name=book_checkout]').val(result.book_checkout);
                     //TODO: site를 zone_code와 일치
                     for(var i=0; i<result.zoneList.length; i++){
                        var siteList = "";
                        var zoneList = "";
                        var rate = 100/result.zoneList.length+"%";
                        zoneList += result.zoneList[i].zone_name;

                        document.getElementById("zone"+(i+1)+"").innerText = zoneList;
                        console.log(result.zoneList.zone_code);
                        for(var j=0; j<result.availableSite.length; j++){
                           if(result.zoneList[i].zone_code == result.availableSite[j].zone_code){
                              siteList += "<a href='#check' onclick='insitezone("+j+")' alt='N'>"+result.availableSite[j].site_name+"</a><br>";
                           }
                        }
                        document.getElementById("site"+(i+1)+"").innerHTML = siteList;
                     }
                     $('#bookForm li').attr({'style': 'width: '+rate+';'});
                     selectDate1 = null;
                     selectDate2 = null;
                  }
               })
            }
         }
         if (cnt % 7 == 1) {
            cell.innerHTML = "<a href='#check' style='color:#F79DC2;'>" + i + "</a>";
         }

         if (cnt % 7 == 0) {
            cell.innerHTML = "<a href='#check' style='color:skyblue;'>" + i + "</a>";
            row = calendar.insertRow();
         }
      }
      if (cnt % 7 != 0) {
         for (i = 0; i < 7 - (cnt % 7); i++) {
            cell = row.insertCell();
         }
      }
   }

   function prevCalendar() {
      today = new Date(today.getFullYear(), today.getMonth() - 1, today.getDate());
      buildCalendar();
      bookPointOn();
   }

   function nextCalendar() {
      today = new Date(today.getFullYear(), today.getMonth() + 1, today.getDate());
      buildCalendar();
      bookPointOn();
   }
   
   
   function insitezone(sitecode){
	   $("#bookForm>div>input[name='book_sitecode']").val(sitecode);
	   
   }
   
	
   
   
</script>
<style>
   #calendar {
      width: 80%;
   }

   #calendar tr {
      height: 50px;
   }

   #bookForm li {
      float: left;
      /*width: 25%;*/
      text-align: center;
   }
</style>
<div class="back_re">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="title">
               <h2>예약하기</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- blog -->
<div class="blog">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <p>날짜를 선택 후 Zone에서 Site를 선택해주세요.</p>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-7">
      <table id="calendar" align="center">
         <tr>
            <td align="center"><label onclick="prevCalendar()"> ◀ </label></td>
            <td colspan="5" align="center" id="calendarTitle">yyyy년 m월</td>
            <td align="center"><label onclick="nextCalendar()"> ▶ </label></td>
         </tr>
         <br>
         <tr>
            <td align="center"><font color="#F79DC2">일</td>
            <td align="center">월</td>
            <td align="center">화</td>
            <td align="center">수</td>
            <td align="center">목</td>
            <td align="center">금</td>
            <td align="center"><font color="skyblue">토</td>
         </tr>
         <script type="text/javascript">buildCalendar();</script>
      </table>
   </div>
   <div class="col-md-5">
      <form id="bookForm" action="/book/bookdetail" method="post">
         <div>
            <input type="hidden" name="book_checkin"/>
            <input type="hidden" name="book_checkout"/>
            <input type="hidden" name="book_sitecode"/>
            <br>
            <br>
         </div>
         <div id="booktest">
            <ul>
               <li id="zone1"></li>
               <li id="zone2"></li>
               <li id="zone3"></li>
               <li id="zone4"></li>
            </ul>
            <ul>
               <li id="site1"></li>
               <li id="site2"></li>
               <li id="site3"></li>
               <li id="site4"></li>
            </ul>
         </div>
         <div>
            <input type="button" value="결제하기" class="sub_btn"/>
         </div>
      </form>
   </div>
</div>
<!-- end blog -->