<script>
$(document).ready(function(){
	$(".nav-item:nth-child(5)").attr('class','nav-item active');
	$(".notactive:nth-child(5)").attr('class','active');
});
</script>
<!--달력 생성 scipt-->
<script type="text/javascript">
   var selectDate1 = null;
   var selectDate2 = null;
   var firstClickYear = null;
   var secondClickYear = null;
   var firstClickMonth = null;
   var secondClickMonth = null;
   var firstClickDate = null;
   var secondClickDate = null;

   //0이 붙은 숫자라 숫자화를 위해 0을 한번 빼줌
   function number(){
      firstClickDate -= 0;
      secondClickDate -= 0;
      firstClickMonth -= 0;
      secondClickMonth -= 0;      
   }

   //달력에 예약날짜 기간 표시
   function bookPointOn(){
      if(firstClickDate > secondClickDate){
         var dept = secondClickDate;
         secondClickDate = firstClickDate;
         firstClickDate = dept;
      }

      if(firstClickMonth > secondClickMonth){
         var dept = secondClickMonth;
         secondClickMonth = firstClickMonth;
         firstClickMonth = dept;
      }

      if(firstClickYear > secondClickYear){
         var dept = secondClickYear;
         secondClickYear = firstClickYear;
         firstClickYear = dept;
      }

      number();

      if(firstClickMonth==secondClickMonth){
         for(var i=firstClickDate; i<=secondClickDate; i++){
            $('#'+i+'').attr('style', 'background-color: rgb(247,233,231);');
         }
      }
      if(firstClickMonth!=secondClickMonth){
         if(today.getMonth()+1 == firstClickMonth){
            for(var i = secondClickDate; i<=31; i++){
               $('#'+i+'').attr('style', 'background-color: rgb(247,233,231);');
            }
         }
         if(today.getMonth()+1 == secondClickMonth){
            for(var i = firstClickDate; i>=1; i--){
               $('#'+i+'').attr('style', 'background-color: rgb(247,233,231);');
            }
         }
      }
   };

   function prevent(){
      if(firstClickMonth<secondClickMonth){
         for(var i = secondClickDate; i<=31; i++){
            $('#'+i+'').attr('style', 'background-color: rgb(247,233,231);');
         }
      }
   };

   function next(){
      if(firstClickMonth<secondClickMonth){
         for(var i = firstClickDate; i>=1; i--){
            $('#'+i+'').attr('style', 'background-color: rgb(247,233,231);');
         }
      }
   }

   //달력에 예약날짜 기간 표시 없애기
   function bookPointOff(){
      firstClickYear=null;
      secondClickYear=null;
      firstClickMonth=null;
      secondClickMonth=null;
      firstClickDate=null;
      secondClickDate=null;
      for(var i=1; i<=31; i++){
         $('#'+i+'').attr('style', 'background-color: while;');
      }
   }
   
   var today = new Date();
   function buildCalendar(){
      var row = null
      var cnt = 0;
      var calendarTable = document.getElementById("calendar");
      var calendarTableTitle = document.getElementById("calendarTitle");
      calendarTableTitle.innerHTML = today.getFullYear()+"년"+(today.getMonth()+1)+"월";
      
      var firstDate = new Date(today.getFullYear(), today.getMonth(), 1);
      var lastDate = new Date(today.getFullYear(), today.getMonth()+1, 0);
      while(calendarTable.rows.length > 2){
        calendarTable.deleteRow(calendarTable.rows.length -1);
      }

      row = calendarTable.insertRow();
      for(i = 0; i < firstDate.getDay(); i++){
        cell = row.insertCell();
        cnt += 1;
      }

      for(i = 1; i <= lastDate.getDate(); i++){
         
         cell = row.insertCell();
         cnt += 1;
   
         cell.setAttribute('id', i);
         cell.innerHTML = "<a href='#'>" + i + "</a>";
         cell.align = "center";

      
         cell.onclick = function(){
            clickedYear = today.getFullYear();
            clickedMonth = ( 1 + today.getMonth() );
            clickedDate = this.getAttribute('id');
      
            clickedDate = clickedDate >= 10 ? clickedDate : '0' + clickedDate;
            clickedMonth = clickedMonth >= 10 ? clickedMonth : '0' + clickedMonth;
            clickedYMD = clickedYear + "-" + clickedMonth + "-" + clickedDate;

            if(selectDate1==null){
               selectDate1=clickedYMD;
               bookPointOff();
               firstClickYear = clickedYear;
               firstClickMonth = clickedMonth;
               firstClickDate = clickedDate;
            }else if(selectDate1==clickedYMD){
               alert("최소 1박이상을 선택해주세요.")
               return;
            }else if(selectDate1!=null){
               selectDate2=clickedYMD;
               secondClickYear = clickedYear;
               secondClickMonth = clickedMonth;
               secondClickDate = clickedDate;

               console.log(firstClickYear)
               console.log(firstClickMonth)
               console.log(firstClickDate)
               console.log(secondClickYear)
               console.log(secondClickMonth)
               console.log(secondClickDate)
               console.log(today.getMonth()+1)

               // if(firstClickYear!=secondClickYear){
               //    if(firstClickMonth!=secondClickMonth){
               //       if(today.getMonth()+1 == firstClickMonth){
               //          for(var i = firstClickDate; i>=1; i--){
               //             $('#'+i+'').attr('style', 'background-color: rgb(247,233,231);');
               //          }
               //       }
               //       if(today.getMonth()+1 == secondClickMonth){
               //          for(var i = secondClickDate; i<=31; i++){
               //             $('#'+i+'').attr('style', 'background-color: rgb(247,233,231);');
               //          }
               //       }
               //    }                  
               // }else 
               bookPointOn();
                  
               $.ajax({
                  url:'/selectDate',
                  type: 'post',
                  data: {'selectDate1':selectDate1, 'selectDate2':selectDate2},
                  success: function(result){
                     $('#bookForm>input[name=book_checkin]').val(result.book_checkin);
                     $('#bookForm>input[name=book_checkout]').val(result.book_checkout);
                     selectDate1=null;
                     selectDate2=null;
                  }
               })
            }
         //  opener.document.getElementById("date").value = clickedYMD;
         //  self.close();
         
         }

         if (cnt % 7 == 1) {
            cell.innerHTML = "<a href='#' style='color:#F79DC2;'>" + i + "</a>";
         }
      
         if (cnt % 7 == 0){
            cell.innerHTML = "<a href='#' style='color:skyblue;'>" + i + "</a>";
            row = calendar.insertRow();
         }
      }
   
      if(cnt % 7 != 0){
         for(i = 0; i < 7 - (cnt % 7); i++){
         cell = row.insertCell();
         }
      }
   }
   
   function prevCalendar(){
      today = new Date(today.getFullYear(), today.getMonth()-1, today.getDate());
      buildCalendar();
      number();
      if(today.getFullYear()!=secondClickYear){
         if(today.getMonth()+1 == secondClickMonth){
            prevent();
         }
         if(today.getMonth()+1 == firstClickMonth){
            next();
         }
      }else if(today.getFullYear()==firstClickYear){
         if(today.getMonth()+1 == secondClickMonth){
            next();
         }
         if(today.getMonth()+1 == firstClickMonth){
            prevent();
         }
         if(firstClickMonth == secondClickMonth && secondClickMonth == today.getMonth()+1){
            bookPointOn();
         }
      }
   }
   
   function nextCalendar(){
      today = new Date(today.getFullYear(), today.getMonth()+1, today.getDate());
      buildCalendar();
      number();
      if(today.getFullYear()!=firstClickYear){
         if(today.getMonth()+1 == secondClickMonth){
            prevent();
         }
         if(today.getMonth()+1 == firstClickMonth){
            next();
         }
      }else if(today.getFullYear()==secondClickYear){
         if(today.getMonth()+1 == secondClickMonth){
            next();
         }
         if(today.getMonth()+1 == firstClickMonth){
            prevent();
         }
         if(firstClickMonth == secondClickMonth && secondClickMonth == today.getMonth()+1){
            bookPointOn();
         }
      }
   }
   </script>
   <style>
      #calendar{
         width:80%;
      }
      #calendar tr{
         height: 50px;
      }
   </style>
        <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                      <h2>예약하기</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- blog -->
      <div  class="blog">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                    <p>날짜를 선택 후 Zone에서 Site를 선택해주세요.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-7">
            <table id="calendar" align="center">
               <tr>
                  <td align="center"><label onclick="prevCalendar()"> ◀ </label></td>
                  <td colspan="5" align="center" id="calendarTitle">yyyy년 m월</td>
                  <td align="center"><label onclick="nextCalendar()"> ▶ </label></td>
               </tr>
               <br>
               <tr>
                  <td align="center"><font color ="#F79DC2">일</td>
                  <td align="center">월</td>
                  <td align="center">화</td>
                  <td align="center">수</td>
                  <td align="center">목</td>
                  <td align="center">금</td>
                  <td align="center"><font color ="skyblue">토</td>
               </tr>
               <script type="text/javascript">buildCalendar();</script>
            </table>
         </div>
         <div class="col-md-5">
            <form id="bookForm">
               <input type="date" name="book_checkin" readonly="readonly"/>
               ~<input type="date" name="book_checkout" readonly="readonly"/><br>
               <ul>
                  <li class="col-md-3">
                     
                  </li>
                  <li class="col-md-3">
                     
                  </li>
                  <li class="col-md-3">

                  </li>
                  <li class="col-md-3">

                  </li>
               </ul>
            </form>   
         </div>
      </div>
      <!-- end blog -->