<script th:src="@{/js/bookdetail.js}">
//예약코드(insert디폴트)
//작성일(insert디폴트)
//사이트코드(request)
//주문번호(request)
//체크인(request)
//체크아웃(request)
//예약상태(server)
//유저코드(session)
//인원수(form)
//차량번호(form)
//가격(form)
</script>
<link rel="stylesheet" th:href="@{/css/bookdetail.css}">
<div class="back_re">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="title">
               <h2>예약내역</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="bg">
	<div class="container reservation-main">
		<section class="page-container">
			<section class="zone-content">
				<section class="zone-container">
					<div class="zone-image">
						<img alt="구역이미지" th:src="@{/images/banner1.jpg}" >
					</div>
					<div class="zone-info">
						<div class="zone-name">a-1사이트</div>
						<div class="zone-total">기준인원2명</div>
						<div class="zone-car">기준차량1대</div>
					</div>
				</section>
			</section>
			<section class="period-content" >
				<section class="period-container">
					<div class="checkinout-box">
						<div class="checkinout">
							<span>체크인</span>
							<span>2023.01.31 (화) 17:00</span>
						</div>
						<div class="checkinout">
							<span>체크아웃</span>
							<span>2023.02.01 (수) 14:00</span>
						</div>
					</div>
				</section>
			</section>
			<section class="customer-content">
				<section class="customer-container">
					<div class="customer-total section-title">전체인원정보</div>
					<div>
						<span>성인</span>
						<span class="customer-count">
							<button type="button" onclick='count("plus",1)' class="btn btn-outline-primary">+</button>
							<span id="result1">2</span>
							<button type="button" onclick='count("minus",1)' class="btn btn-outline-danger">-</button>
						</span>
					</div>
					<div>
						<span>미성년자</span>
						<span class="customer-count">
							<button type="button" onclick='count("plus",2)' class="btn btn-outline-primary">+</button>
							<span id="result2">0</span>
							<button type="button" onclick='count("minus",2)' class="btn btn-outline-danger">-</button>
						</span>
					</div>
					<section class="customer-count-result customer-container">
						<div>
							<span>기준인원</span>
							<span id="basic-count">2</span>명
						</div>
						<div>
							<span>추가 가능인원</span>
							<span>2명</span>
						</div>
						<div>
							<span>총인원제한</span>
							<span id="limit-count">4</span>명
						</div>
						<div id="over-count">
							<span>인원초과요금</span>
							<span id="over-count-num">0</span>명
						</div>
					</section>
				</section>	
			</section>
			<section>
				<section>
					<div>*잠시 방문하는 게스트도 인원 정보에 포함해야 합니다.</div>
					<div>*사회적 거리두기 조치에 따라 예약내용에 없는 게스트는 캠핑장 입장이 불허할 수 있으니 예약시 주의바랍니다.</div>
				</section>
			</section>
			<section class="car-info-content">
				<section class="car-info-container">
					<div class="section-title">전체 차량 정보</div>
					<div class="alert alert-info" style="margin-top: 22px;" role="alert">
						<div class="car-title">차량</div>
						<form>
							<div class="form-container">
								<div class="car-num">차량번호</div><input type="email" class="form-control" id="exampleFormControlInput1" placeholder="차량번호를 입력해주세요">
							</div>
						</form>
					</div>
				</section>
			</section>
			<section class="addition-content bord-line">
				<section class="addition-container customer-container">
					<div>추가구매</div>				
					<div>
						<span class="addition-item verticality">
							<span>불멍(모닥불)</span>
							<span>20000원</span>
						</span>
						<span>
							<button type="button" onclick='addition_count("plus",4)' class="btn btn-outline-primary">+</button>
							<span id="result4">0</span>
							<button type="button" onclick='addition_count("minus",4)' class="btn btn-outline-danger">-</button>
						</span>
					</div>
					<div>
						<span class="addition-item verticality">
							<span>빠른입실</span>
							<span>20000원</span>
						</span>
						<span>
							<button type="button" onclick='addition_count("plus", 5)' class="btn btn-outline-primary">+</button>
							<span id="result5">0</span>
							<button type="button" onclick='addition_count("minus",5)' class="btn btn-outline-danger">-</button>
						</span>
					</div>
					<div>
						<span class="addition-item verticality">
							<span>바베큐 그릴</span>
							<span>20000원</span>
						</span>
						<span>
							<button type="button" onclick='addition_count("plus",6)' class="btn btn-outline-primary">+</button>
							<span id="result6">0</span>
							<button type="button" onclick='addition_count("minus",6)' class="btn btn-outline-danger">-</button>
						</span>
					</div>				
				</section>
			</section>
			<section class="reservation-cost-content bord-line">
				<section class="reservation-cost-container">
					<div>할인 적용</div>
					<div style="display:flex;">
 						<div style="flex:1;">쿠폰</div><div style="flex:1; text-align: right;">적용 가능한 쿠폰이 없음</div>				
					</div>				
				</section>
			</section>
			<section class="reservation-cost-content">
				<section class="reservation-cost-container customer-container reservation-cost-container-total">
					<div>결제 금액</div>				
					<div>
						<span>숙박 예약 요금</span>
						<span>
							<span id="result7">170000</span>원
						</span>
					</div>
					<div>
						<span>초과 인원 요금</span>
						<span>
							<span id="result3">0</span>원
						</span>
					</div>
					<div>
						<span>불멍(모닥불)</span>
						<span>
							<span>20000</span>원
						</span>
					</div>
					<div>
						<span>빠른입실</span>
						<span>
							<span>20000</span>원
						</span>
					</div>
					<div>
						<span>바베큐 그릴</span>
						<span>
							<span>20000</span>원
						</span>
					</div>
					<div class="total-result-container">
						<span>총 결제 금액</span>
						<span>
							<span id="total_result">0</span>원
						</span>
					</div>				
				</section>
			</section>
			<section>
				<section>
				<button type="button" class="btn btn-success pay-go">결제하기</button>
				</section>
			</section>
		</section>
	</div>
</div>




