<script>
   $(document).ready(function () {
      $(".nav-item:nth-child(5)").attr('class', 'nav-item active');
      $(".notactive:nth-child(5)").attr('class', 'active');
      
      
      
      
   });
</script>
<div class="back_re">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="title">
               <h2>예약내역</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="bg">
	<div class="main">
		<section class="container">
			<section class="zone-content"></section>
			<section class="period-content" th:text="${book_checkin}"></section>
			<section calss="cutomer-content"></section>
			<section class="divider-content"></section>
			<section class="price-content"></section>
			<section class="cutomer-input-content"></section>
			<section class="guest-input-content"></section>
			<div class="" >결제하기</section>
			
		
		
		</section>
		
		
	</div>


</div>