.bg{
	background-color: #f2f2f2;
    min-height: 100%;
	
}

.page-container>section{
	padding-left: 2rem;
    padding-right: 2rem;
}


.reservation-main{
	max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    height: 100%;
    
    padding-top: 15px;
    padding-bottom: 30px;
}

.zone-content{
	padding-top:2rem;
	
}

.zone-container{
	min-height: 10rem;
    position: relative;
}
.zone-image{
	display: inline-block;
    position: absolute;
    width: 9rem;
    height: 9rem;
}


.zone-image>img{
	border-radius:1em;
	width: 9rem;
    height: 9rem;
}

.zone-info{
	padding-top:2rem;
	margin-left: 10.2rem;
	font-size: 1.0rem;
    line-height: 2rem;
}

.zone-name{
	font-weight:bold;
	font-size: 1.6rem;
    line-height: 2rem;
    max-height: 4rem;
}

.period-container{
	padding-top:2rem;
	
}

.checkinout-box{
	border-radius:1em;
	
	background-color: #f2f2f2;
    padding: 1rem 1.5rem;
}

.checkinout{
	font-size: 1.5rem;
    line-height: 2.8rem;
    display: flex;
}


.checkinout>span:nth-child(1){
    color: #666;
    flex: 0 0 10rem;
	
}
.checkinout>span:nth-child(2){
	flex: 1;
    color: #333;
    text-align: right;
	
}
.customer-container{
	padding-top:2rem;
	
}
.customer-container>div{
	padding:1rem 0 1rem 0;
	display: flex;
}

.section-title{
	font-weight:bold;
	font-size: 1.5rem;
    line-height: 2rem;
	
}

.customer-container>div>span:nth-child(1){
	flex: 0 0 10rem;
	
}
.customer-container>div>span:nth-child(2){
	flex: 1;
	text-align: right
}

.customer-count>span{
	
	padding:0 5px 0 5px;
	
}

.customer-count-result{
	background-color: #f2f2f2;
    padding: 1rem 1.5rem;
    border-radius: 1em;
	
}

#over-count{
	display:none;
}

.car-info-container{
	padding-top: 2em;
	
}

.car-info{
	border-style: 1px solid balck;
	
}

.car-title{
	padding:8px 0 8px 0;
	border-bottom: thin black solid;
}

.form-container{
	display: flex;
	padding:15px 0 8px 0;
	
}

.car-num{
	flex: 0 0 10rem;
	
}
.addition-container{
	padding:10px 0 10px 0;
}
.addition-container>div{
	padding: 1rem 0rem;
}

.addition-container>div:nth-child(1){
	font-weight:bold;
	font-size: 1.5rem;
    line-height: 2rem;
}

.reservation-cost-container{
	padding:10px 0 10px 0;
}
.reservation-cost-container>div{
	padding: 1rem 0rem;
}

.reservation-cost-container>div:nth-child(1){
	font-weight:bold;
	font-size: 1.5rem;
    line-height: 2rem;
}


.customer-container>div>span>span{
	padding:0 9px 0 9px;
	
}


.bord-line{
	border-bottom: 1px solid #f2f2f2;
}

.verticality{
	display:flex; 
	flex-direction: column;
}

.verticality>span:nth-child(2){
	font-family:Noto Sans CJK KR;
	font-weight: 900;
	
}

.addition-item>span:nth-child(2){
	font-weight: bold;
	
}

.reservation-cost-container-total>div:nth-child(n+3):nth-child(-n+6){
	display:none;
}

.total-result-container>span{
	font-size: large;	
	font-weight: bold;
}
.total-result-container>span>span{
	color:green;
}

.pay-go{
	display:block; 
	text-align: center;
    width: 100%;
    height: 60px;
}

.footer{
	margin-top:0px;
	
}

.reservation-customerinfo-container{
	padding: 10px 0 10px 0;
}

.btn{
	font-weight: bold;
	
}


/* @media (max-width:500px){ */
	
/* } */

