@charset "UTF-8";

.mypage-reservation-info{
	background-color: #f8f9fa;
	border: 1px solid rgb(0 0 0 / 10%);;
	padding :10px;
}

.mypage-reservation-info>p{
	text-align: left;
	
}

.mypage-reservation-container{
	border-radius: 1em;
    box-shadow: 5px 5px 5px 5px #dadce0;
	
}

.mypage-reservation-container .room_img{
	border-radius: 1em 1em 0 0;
}

.refund-cancel-message{
	background-color: rgb(0 0 0 / 10%);
	border: 1px solid rgb(0 0 0 / 10%);
	padding :10px;
	
}


.mypage-reservation-info i{


    text-decoration: none

}

.mypage-reservation-info i:hover {

    cursor: help;

    position: relative

}

.mypage-reservation-info i span {

    display: none

}

.mypage-reservation-info i:hover span {

    border: #c0c0c0 1px dotted;

    padding: 5px 20px 5px 5px;

    display: block;

    z-index: 100;

    left: 0px;
    background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;

    margin: 10px;

    width: 150px;

    position: absolute;

    top: 10px;

    text-decoration: none

}