<script>
	$(document).ready(function () {

		//등록버튼
		$('#upBtn').click(function () {

			if ($('#updateth').val() == '' || $('#updateth').val() == null) {
				alert("사이트명/가격을 등록하세요");
				return;
			}
			if ($('#updatecontent').val() == '' || $('#updatecontent').val() == null) {
				alert("사이트 설명을 등록하세요");
				return;
			}
			if ($('#siteimg').val() == '' || $('#siteimg').val() == null) {
				alert("사이트 이미지를 등록하세요");
				return;
			}


			var c = confirm('등록하시겠습니까?');
			if (c == true) {
				$('#up_form').attr({
					'enctype': 'multipart/form-data',
					'method': 'post',
					'action': '[[@{/zone/siteadd}]]'
				});
				$('#up_form').submit();
			};
		});

	}); 
</script>

<main id="main" class="main">
	<div class="row row-zone" style="margin: auto;">
		<div class="pagetitle">
			<h1>구역/사이트 추가</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/main}">Home</a></li>
					<li class="breadcrumb-item">zone, site edit</li>
					<li class="breadcrumb-item active">edit</li>
				</ol>
			</nav>
		</div>
	</div><!-- End Page Title -->

	<section class="section">
		<div class="row">
			<div class="row row-zone" style="margin: auto;">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body noeditcard">
							<form id="up_form">
								<table class="viewtable-fill">
									<thead>
										<tr>
											<th class="text-left zonethF Mtablehidden">사이트 명</th>
										</tr>
										<tr>
											<th class="text-left zonethF tablehidden">사이트 명</th>
											<th class="text-left zonethS" colspan="4">
												<input id="updateth" type="text" name="site_name">
											</th>
										</tr>
										<tr>
											<th class="text-left zonethF Mtablehidden">사이트 가격</th>
										</tr>
										<tr>
											<th class="text-left zonethF tablehidden">사이트 가격</th>
											<th class="text-left zonethS" colspan="4">
												<input id="updateth" type="number" name="site_price" value="0">
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th class="text-left Mtablehidden">
												사이트 설명
											</th>
										</tr>
										<tr>
											<th class="text-left tablehidden">
												사이트 설명
											</th>
											<td colspan="4">
												<textarea id="updatecontent" name="site_content"
													text="사이트 설명을 입력하세요"></textarea>
											</td>
										</tr>
										<tr>
											<th class="text-left Mtablehidden">
												사이트 이미지
											</th>
										</tr>
										<tr>
											<th class="text-left tablehidden">
												사이트 이미지
											</th>
											<td colspan="4">
												<input id="siteimg" class="zonethS" name="mf" type="file" />
											</td>
										</tr>
										<tr>
											<th colspan="5">
												<input id="inputnone" type="hidden" name="zone_code"
													th:value="${zone_code}">
											</th>
										</tr>
									</tbody>
								</table>
							</form>
							<br class="Mtablehidden">
							<div class="Btn">
								<a id="upBtn" class="btn btn-primary" th:href="@{#}">등록</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</main><!-- End #main -->