<script>
	$(document).ready(function () {
		$('.zoneDelBtn').click(function () {
			if (confirm('구역을 삭제하시겠습니까?')) {
				$(this).parent().attr({
					'method': 'post',
					'action': '[[@{/zone/zonedel}]]'
				});
				$(this).parent().submit();
			} else return;
		});
		$('.siteDelBtn').click(function () {
			if (confirm('사이트를 삭제하시겠습니까?')) {
				$(this).parent().attr({
					'method': 'post',
					'action': '[[@{/zone/sitedel}]]'
				});
				$(this).parent().submit();
			} else return;
		});
		$('#zone_add_button').click(function(){
			if('[[${zlist.size >= 4}]]'){
				alert('구역은 최대 4개까지만 가능합니다.');
				return false;
			}else {
				location.href='/zone/zoneinsert';
			}
		});
	}); 
</script>
<main id="main" class="main">
	<div class="row row-zone" style="margin: auto;">
		<div class="zonetitle">
			<div class="pagetitle">
				<h1>구역/사이트 수정</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/main}">Home</a></li>
						<li class="breadcrumb-item active">zone, site edit</li>
					</ol>
				</nav>
			</div>
			<div class="pagetitle">
				<a id="zone_add_button" class="btn btn-outline-primary">
					<h1>새 구역 추가하기</h1>
				</a>
				<a th:href="@{/zone/siteinsert(zone_code=${zoneselect.zone_code})}" class="btn btn-outline-primary">
					<h1>새 사이트 추가하기</h1>
				</a>
			</div>
		</div>
	</div>
	<form id="newzoneForm">
		<input id="zoneinsert" type="hidden" name="admin_code" th:value="${session.admin.Admin_code}">
		<input id="zoneinsert" type="hidden" name="zone_name" value="새로운 구역" />
		<input id="zoneinsert" type="hidden" name="zone_content" value="구역 설명을 수정하세요." />
	</form>
	<section class="section">
		<div class="row row-zone" style="margin: auto;">
			<div class="col-lg-12 zone-col-12">
				<div class="card card-radius">
					<div class="card-body">
						<h5 class="card-title" th:text="${zoneselect.zone_name}"></h5>
						<hr>
						<p th:text="${zoneselect.zone_content}"></p>
						<div th:each="img:${ilist}" th:if="${img.zone_code == zoneselect.zone_code}">
							<img class="zoneimg" th:src="'images/'+${img.image_file}" />
							<p th:text="${img.image_file}"></p>
						</div>
					</div>
					<div class="Btn">
						<a id="zone_write" class="btn btn-primary"
							th:href="@{/zone/zoneedit(zone_code=${zoneselect.zone_code})}">수정</a>
						<form class="zone_up_form">
							<input type="hidden" name="zone_code" th:value="${zoneselect.zone_code}"/>
							<a class="zoneDelBtn" >삭제</a>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-6 site-col-6" th:each="site:${slist}"
				th:if="${zoneselect.zone_code == site.zone_code} and ${site.site_state == 1}">
				<div class="card card-radius">
					<div class="card-body">
						<h5 class="card-title" th:text="${site.site_name}"></h5>
						<hr>
						<p th:text="${site.site_content}"></p>
						<div th:each="img:${ilist}" th:if="${img.site_code == site.site_code}">
							<img class="siteimg" th:src="'images/'+${img.image_file}" />
							<p th:text="${img.image_file}"></p>
						</div>
						<div class="Btn">
							<a id="notice_write" class="btn btn-primary"
								th:href="@{/zone/siteedit(site_code=${site.site_code})}">수정</a>
							<form class="site_up_form">
								<input type="hidden" name="site_code" th:value="${site.site_code}" />
								<a class="siteDelBtn" >삭제</a>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 site-col-6"></div>
		</div>
	</section>
</main>