<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
	$(document).ready(function() {
		$(".nav-item:nth-child(2)").attr('class', 'nav-item active');
		$(".notactive:nth-child(2)").attr('class', 'active');
		
		//글자수제한
		$('.text_box textarea').keyup(function(){
			  var content = $(this).val();
			  $('.text_box .count span').html(content.length);
			  if (content.length > 500){
			    alert("최대 500자까지 입력 가능합니다.");
			    $(this).val(content.substring(0, 500));
			    $('.text_box .count span').html(500);
			  }
		});
		
		//수정버튼
		$('#ubtn').click(function(){
			var c = confirm('수정하시겠습니까?');
			if(c == true){
				$('#up_form').attr({
					'enctype':'multipart/form-data',
					'method':'post',
					'action':'[[@{/notice/noticeupdate}]]'
				});
				$('#up_form').submit();
			};
		});
		
		
	 	
		
	}); 
</script>

<div class="back_re">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title">
					<h2>공지사항</h2>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- about -->

<div class="container-md">
	<div class="col-md-12">
		<form id="up_form">
		<table class="viewtable-fill">
			<thead>
				<tr>
					<th class="text-left" id="viewno">&nbsp;글번호</th>
					<th class="text-left" id="viewno">
						<input id="viewno" readonly="readonly" name="notice_code" th:value="${notice.notice_code}">
					</th>
					<th colspan="5"></th>
				</tr>
				<tr>
					<th class="text-left" id="viewth">&nbsp;제목</th>
					<th class="text-left" id="viewth">
						<input id="updateth" type="text" name="notice_title" th:value="${notice.notice_title}">
					</th>
					<th class="text-left" id="viewth"></th>
					<th class="text-right" id="editad">&nbsp;/ 작성자:&nbsp;</th>
					<th class="text-right">
						<input id="inputnone" type="text" th:value="${notice.admin_code}">
					</th>
					<th class="text-right" id="editdate">&nbsp;/ 등록일:&nbsp;</th>
					<th class="text-right">
						<input id="inputnone" type="text" th:value="${#dates.format(notice.notice_writedate, 'yyyy-MM-dd')}">
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th id="viewlast" colspan="7">
					</th>
				</tr>
				<tr>
					<th id="viewhr" colspan="7">
					</th>
				</tr>
				<tr>
					<th id="viewlast" colspan="7">
					</th>
				</tr>
				<tr>
					<th class="text-left" colspan="1">
						&nbsp;내용
					</th>
					<td colspan="4">
						<div class="text_box">
						<textarea id="updatecontent" name="notice_content" th:text="${notice.notice_content}"></textarea>
						<div class="count"><span>0</span>/500</div>
						</div>
					</td>
					<th colspan="2">
					</th>
				</tr>
				<tr>
					<th class="text-left" colspan="1">
						&nbsp;주요공지
					</th>
					<td colspan="4">
						<input type="number" min='0' max='1' name="notice_level" th:value="${notice.notice_level}">
						* 1: ON / 0: OFF
					</td>
					<th colspan="2">
					</th>
				</tr>
				<tr>
					<th id="viewlast" colspan="7">
					</th>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
	<div class="col-sm">
			<a href="#" id="ubtn" class="read_more">UPDATE</a>
	</div>
</div>
<!-- end about -->


