<script>
$(document).ready(function(){
	$(".nav-item:nth-child(2)").attr('class','nav-item active');
	$(".notactive:nth-child(2)").attr('class','active');
});
</script>

      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>공지사항</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <!-- about -->
      <div class="about">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <table class="table table-striped" style="text-align: center; border: 1px solid #dddddd">
                  	<thead>
                  		<tr>
                  			<th style="background-color: #eeeeee; text-align: center;">번호</th>
                  			<th style="background-color: #eeeeee; text-align: center;">제목</th>
                  			<th style="background-color: #eeeeee; text-align: center;">등록일</th>
                  		</tr>
                  	</thead>
                  	<tbody>
						<tr th:each="notice:${plist}">
							<td th:text="${notice.notice_code}"></td>
							<td th:text="${notice.notice_title}"></td>
							<td th:text="${#dates.format(notice.notice_writedate, 'yyyy-MM-dd')}"></td>
						</tr>
                  	</tbody>
                  </table>
                  <a th:href="@{/notice/write.html}" class="read_more">글쓰기</a>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->

