<script>
$(document).ready(function(){
	$('#ubtn').click(function(){
		var c = confirm('수정 하시겠습니까 ?');
		if(c == true){
			$('#register_form').attr({
				'enctype':'multipart/form-data',
				'method':'post',
				'action':'[[@{/item/update}]]'
			});
			$('#register_form').submit();
		};
	});
	
	$('#dbtn').click(function(){
		var c = confirm('삭제 하시겠습니까 ?');
		if(c == true){
			var id = $('input[name="id"]').val();
			// /item/delete?id=2
			location.href='[[@{/item/delete(id=${obj.id})}]]';
		};
	});
	
});
</script>

      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>공지사항</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <!-- about -->
      <div class="about">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                 	<form id="register_form">
						 <table class="table-fill" style="text-align: center; border: 1px solid #dddddd">
		                  	<thead>
		                  		<tr>
		                  			<th class="text-left">번호</th>
		                  			<th class="text-left">제목</th>
		                  			<th class="text-left">게시자 코드</th>
		                  			<th class="text-left">글 우선순위</th>
		                  			<th class="text-left">등록일</th>
		                  		</tr>
		                  	</thead>
		                  	<tbody class="table-hover">
								<tr >
									<td class="text-center"><input type="number" readonly="readonly" th:value="${noti.notice_code}"></td>
									<td class="text-center"><input type="text" th:value="${noti.notice_title}"></td>
									<td class="text-center"><input type="number" readonly="readonly" th:value="${noti.admin_code}"></td>
									<td class="text-center"><input type="number" th:value="${noti.notice_level}"></td>
									<td class="text-center"><p th:text="${#dates.format(obj.rdate, 'yyyy-MM-dd')}"/></td>
								</tr>
		                  	</tbody>
		                  </table>
						<a href="#" id="ubtn">UPDATE</a>
						<a href="#" id="dbtn">DELETE</a>
					 </form>
                </div>
             </div>
         </div>
      </div>
      <!-- end about -->
     

