<script>
	$(document).ready(function() {
		$(".nav-item:nth-child(2)").attr('class', 'nav-item active');
		$(".notactive:nth-child(2)").attr('class', 'active');
	});
</script>

<div class="back_re">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title">
					<h2>공지사항</h2>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- about -->

<div class="container-md">
	<div class="col-md-12">
		<table class="viewtable-fill">
			<thead>
				<tr>
					<th class="text-left" id="viewth">&nbsp;글번호</th>
					<th class="text-left" id="viewth" th:text="${notice.notice_code}"></th>
					<th colspan="5"></th>
				</tr>
				<tr>
					<th class="text-left" id="viewth">&nbsp;제목</th>
					<th class="text-left" id="viewth" th:text="${notice.notice_title}"></th>
					<th class="text-left" id="viewth"></th>
					<th class="text-right" id="viewth">&nbsp;/ 작성자:&nbsp;</th>
					<th class="text-right" id="viewth" th:text="${notice.admin_code}"></th>
					<th class="text-right" id="viewth">&nbsp;/ 등록일:&nbsp;</th>
					<th class="text-right" id="viewth" th:text="${#dates.format(notice.notice_writedate, 'yyyy-MM-dd')}"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th id="viewlast" colspan="7">
					</th>
				</tr>
				<tr>
					<th id="viewhr" colspan="7">
					</th>
				</tr>
				<tr>
					<th id="viewlast" colspan="7">
					</th>
				</tr>
				<tr>
					<th class="text-left" colspan="1">
						&nbsp;내용
					</th>
					<td class="text-left" id="viewth" colspan="4" th:text="${notice.notice_content}">
					</td>
					<th colspan="2">
					</th>
				</tr>
				<tr>
					<th id="viewlast" colspan="7">
					</th>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm">
		<!-- 추후 관리자 로그인시만 사용되게 변경 -->
		<a id="notice_write" class="read_more" th:href="@{/notice/nowrite(notice_code=${notice.notice_code})}" >수정</a>
	</div>
</div>
<!-- end about -->


