<script>
$(document).ready(function(){
	$(".nav-item:nth-child(1)").attr('class','nav-item active');
	$(".notactive:nth-child(1)").attr('class','active');
});
</script>

      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>공지사항</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <!-- about -->
      <div class="about">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
            	   <div class="table-title">
					<h3>Data Table</h3>
					</div>
	                  <table class="table-fill" style="text-align: center; border: 1px solid #dddddd">
	                  	<thead>
	                  		<tr>
	                  			<th class="text-left">번호</th>
	                  			<th class="text-left">제목</th>
	                  			<th class="text-left">등록일</th>
	                  		</tr>
	                  	</thead>
	                  	<tbody class="table-hover">
							<tr th:each="notice:${plist}">
								<td class="text-center">
									<a th:text="${notice.notice_code}" th:href="@{/notice/noticeview(notice_code=${notice_code})}"></a>
								</td>
								<td class="text-center">
									<a th:text="${notice.notice_title}" th:href="@{/notice/noticeview(notice_code=${notice_code})}"></a>
								</td>
								<td class="text-center" th:text="${#dates.format(notice.notice_writedate, 'yyyy-MM-dd')}"></td>
							</tr>
	                  	</tbody>
	                  </table>
                  <a th:href="@{/notice/nowrite}" class="read_more">글쓰기</a>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->