
      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>공지사항</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <!-- about -->
      <div class="about">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                 	<form action="/notice/noticedo">
						<table>
							<tr>
								<td>제목</td>
								<td><input type="text" name="title"></td>
							</tr>
							<tr>
								<td>내용</td>
								<td>
									<textarea name="contents"></textarea>
								</td>
							</tr>
						</table>
						<input type="submit" value="등록">
					 </form>
                </div>
             </div>
         </div>
      </div>
      <!-- end about -->