
      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>공지사항</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <!-- about -->
      <div class="about">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                 	<form action="/notice/noticedo">
						<table class="table-fill">
		                  	<thead>
		                  		<tr>
		                  			<th class="text-left">번호</th>
		                  			<th class="text-left">제목</th>
		                  			<th class="text-left">게시자 코드</th>
		                  			<th class="text-left">글 우선순위</th>
		                  			<th class="text-left">등록일</th>
		                  		</tr>
		                  	</thead>
		                  	<tbody class="table-hover">
								<tr>
									
									<td class="text-center"><input type="text" name="notice_title"></td>
									<td class="text-center"><input type="number" min="1" max="2" name="admin_code"></td>
									<td class="text-center"><input type="number" name="notice_level"></td>
								</tr>
								<tr>
									<td class="text-center"><input type="text" name="notice_content"></td>
								</tr>
		                  	</tbody>
		                  </table>
						<input type="submit" value="등록">
					 </form>
                </div>
             </div>
         </div>
      </div>
      <!-- end about -->
     

