 <script>
$(document).ready(function(){
	$(".nav-item:nth-child(6)").attr('class','nav-item active');
	$(".notactive:nth-child(6)").attr('class','active');
});
</script>

    <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                      <h2>Contact Us</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--  contact -->
      <div class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <form id="request" class="main_form">
                     <p>아룡딸 베앙 엉더는아쳐거자 튜녀 앙아즈어도 가망차가 타항은 조화같이 드깅인은 을토먼므춤다.</p>
                     <p>아룡딸 베앙 엉더는아쳐거자 튜녀 앙아즈어도 가망차가 타항은 조화같이 드깅인은 을토먼므춤다.</p>
                     <p th:text="${kakaomap.home_longitude}"></p>
                     <p th:text="${kakaomap.home_latitude}"></p>
                  </form>
               </div>
               <div class="col-md-6">
                  <aside id="map_aside" th:include="${map} ? ${map} : map"></aside>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->