<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">

<!-- site metas -->
<title>keto</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- bootstrap css -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<!-- style css -->
<link rel="stylesheet" th:href="@{/css/style.css}">
<!-- Responsive-->
<link rel="stylesheet" th:href="@{/css/responsive.css}">
<!-- fevicon -->
<link rel="icon" th:href="@{/images/fevicon.png}" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
<!-- Tweaks for older IEs-->
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
	media="screen">
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
<!-- 카카오맵 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5e9efbc778e5ecd71ca55357c6a2da32"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=services"></script>

<script>
function kakaomap(){
	//카카오맵-------------------------
	
	//기본 카카오맵
		var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
		var options = { //지도를 생성할 때 필요한 기본 옵션
			center: new kakao.maps.LatLng(37.5652, 126.979), //지도의 중심좌표.
			level: 3 //지도의 레벨(확대, 축소 정도)
		};
		var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
	
	//사용자 컨트롤 올리기
		// 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
		var mapTypeControl = new kakao.maps.MapTypeControl();
		
		// 지도에 컨트롤을 추가해야 지도위에 표시됩니다
		// kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
		map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
		
		// 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
		var zoomControl = new kakao.maps.ZoomControl();
		map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
	
	//마커 올리기
		var imageSrc = 'images/map_icon1.png', // 마커이미지의 주소입니다    
		    imageSize = new kakao.maps.Size(70, 90), // 마커이미지의 크기입니다
		    imageOption = {offset: new kakao.maps.Point(27, 72)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
		
		// 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
		var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
		    markerPosition = new kakao.maps.LatLng(37.5652, 126.979); // 마커가 표시될 위치입니다
		
		// 마커를 생성합니다
		var marker = new kakao.maps.Marker({
		  position: markerPosition,
		  image: markerImage // 마커이미지 설정 
		});
		
		// 마커가 지도 위에 표시되도록 설정합니다
		marker.setMap(map);	
}
//end 카카오맵-------------------------

$(document).ready(function(){
	//카카오맵----------------------
	kakaomap();
	
	//모달-------------------------
	$('#modal_open').click(function(){
		document.getElementById("modal").style.display="flex";
	    document.body.style="overflow: hidden";
	});
	
	$('#modal_close').click(function(){
		document.getElementById("modal").style.display="none";
	    document.body.style="overflow: auto";
	});
	//end 모달-------------------------
});
</script>

</head>

<!-- 모달창-->
<div id="modal" class="modal-overlay">
	<div class="modal-content">
		<div class="modal-btn">
			<button th:onclick="|location.href='@{/user/register}'|">회원가입</button>
			<button id="modal_close">닫기</button>
		</div>
		<div class="modal-login">
		<h2>로그인</h2>
		<p>모달 테스트입니다</p>
		<p>모달 테스트입니다</p>
		<p>모달 테스트입니다</p>
		<p>모달 테스트입니다</p>
		<p>모달 테스트입니다</p>
		<p>모달 테스트입니다</p>
		<p>모달 테스트입니다</p>
		<p>모달 테스트입니다</p>
		
		<button>로그인</button>
		<br>
		</div>
	</div>
</div>

<!-- body -->
<body class="main-layout">
	<!-- loader  -->
	<div class="loader_bg">
		<div class="loader">
			<img th:src="@{/images/loading.gif}" alt="#" />
		</div>
	</div>
	<!-- end loader -->
	<!-- header -->
	<header>
	


		<!-- header inner -->
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
						<div class="full">
							<div class="center-desk">
								<div class="logo">
									<a th:href="@{/}"><img th:src="@{/images/logo.png}" alt="#" /></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
						<nav class="navigation navbar navbar-expand-md navbar-dark ">
						
							<button id="" class="navbar-toggler" type="button"
								data-toggle="collapse" data-target="#navbarsExample04"
								aria-controls="navbarsExample04" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarsExample04">
								<ul class="navbar-nav mr-auto">

									<!-- 현재 선택 활성화로 보이게 하려면 class="nav-item active" 해야합니다-->

									<li class="nav-item"><a class="nav-link" th:href="@{/}">메인</a></li>
									<li class="nav-item"><a class="nav-link" th:href="@{/notice}">공지사항</a></li>
									<li class="nav-item"><a class="nav-link" th:href="@{/zone}">구역안내</a></li>
									<li class="nav-item"><a class="nav-link" th:href="@{/facility}">시설안내</a></li>
									<li class="nav-item"><a class="nav-link" th:href="@{/book}">예약하기</a></li>
									<li class="nav-item"><a class="nav-link" th:href="@{/waymap}">오시는길</a></li>
									<li class="nav-item"><a class="nav-link"><button id="modal_open">로그인</button></a></li>
									<li class="nav-item"><a class="nav-link" th:href="@{/user/register}">회원가입</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- end header inner -->
	<!-- end header -->
	
	<!-- banner -->
	<section class="banner_main">
		<aside id="center_aside" th:include="${center} ? ${center} : index"></aside>
	</section>
	<!-- end banner -->
	<!-- end contact -->

	<!--  footer -->
	<footer>
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class=" col-md-4">
						<h3>Contact US</h3>
						<ul class="conta">
							<li><i class="fa fa-map-marker" aria-hidden="true"></i>
								Address</li>
							<li><i class="fa fa-mobile" aria-hidden="true"></i> +01
								1234569540</li>
							<li><i class="fa fa-envelope" aria-hidden="true"></i><a
								th:href="@{#}"> demo@gmail.com</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<h3>Menu Link</h3>
						<ul class="link_menu">
							<li class="notactive"><a th:href="@{/}">Home</a></li>
							<li class="notactive"><a th:href="@{/notice}"> 공지사항</a></li>
							<li class="notactive"><a th:href="@{/zone}">구역안내</a></li>
							<li class="notactive"><a th:href="@{/facility}">시설안내</a></li>
							<li class="notactive"><a th:href="@{/book}">예약하기</a></li>
							<li class="notactive"><a th:href="@{/waymap}">오시는길</a></li>
						</ul>
					</div>
					<!--  
                  <div class="col-md-4">
                     <h3>News letter</h3>
                     <form class="bottom_form">
                        <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                        <button class="sub_btn">subscribe</button>
                     </form>
                     <ul class="social_icon">
                        <li><a th:href="@{/#}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a th:href="@{/#}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a th:href="@{/#}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a th:href="@{/#}"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                     </ul>
                  </div>
                  -->
				</div>
			</div>
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-10 offset-md-1">

							<p>
								© 2019 All Rights Reserved. Design by <a
									href="https://html.design"> Free Html Templates</a> <br>
								<br> Distributed by <a
									href="https://themewagon.com" target="_blank">ThemeWagon</a>
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->
	<!-- Javascript files-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/jquery-3.0.0.min.js}"></script>
	<!-- sidebar -->
	<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
</body>
</html>