<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camp.camping.mapper.BookMapper">
    <insert id="insert" parameterType="BookDTO">
        INSERT INTO book(site_code, user_code, merchant_uid, book_member, book_checkin, book_checkout, book_price,
                         book_car_number)
        VALUES (#{site_code}, #{user_code}, #{merchant_uid}, #{book_member}, #{book_checkin}, #{book_checkout},
                #{book_price}, #{book_car_number})
    </insert>
    <select id="select" resultType="BookDTO">
        SELECT *
        FROM book
        WHERE book_code = #{book_code}
    </select>
    <select id="selectAll" resultType="BookDTO">
        SELECT *
        FROM book
    </select>
    <update id="update" parameterType="BookDTO">
        UPDATE book
        SET book_member=#{book_member},
            book_price=#{book_price},
            book_car_number=#{book_car_number}
        WHERE book_code = #{book_code}
    </update>
    <delete id="delete">
        DELETE
        FROM book
        WHERE book_code = #{book_code}
    </delete>
</mapper>