<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camp.camping.mapper.ScheduleMapper">
    <insert id="insert" parameterType="ScheduleDTO">
        INSERT INTO schedule(admin_code, schedule_date, schedule_name)
        VALUES (#{admin_code}, #{schedule_date}, #{schedule_name})
    </insert>
    <select id="select" resultType="ScheduleDTO">
        SELECT *
        FROM schedule
        WHERE schedule_code = #{schedule_code}
    </select>
    <select id="selectAll" resultType="ScheduleDTO">
        SELECT *
        FROM schedule
    </select>
    <select id="selectDate" resultType="ScheduleDTO">
        SELECT schedule.schedule_code, schedule.admin_code, schedule.schedule_date, schedule.schedule_name
        FROM schedule,
             admin
        Where schedule_date = #{schedule_date}
          AND admin.company_code = #{company_code}
    </select>
    <update id="update" parameterType="ScheduleDTO">
        UPDATE schedule
        SET admin_code=#{admin_code},
            schedule_date=#{schedule_date},
            schedule_name=#{schedule_name}
        WHERE schedule_code = #{schedule_code}
    </update>
    <delete id="delete">
        DELETE
        FROM schedule
        WHERE schedule_code = #{schedule_code}
    </delete>
</mapper>