<script>
    $(document).ready(function () {
        $(".nav-item:nth-child(8)").attr('class', 'nav-item active');
        $(".notactive:nth-child(8)").attr('class', 'active');
    });
</script>

<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>마이페이지</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about -->
<div class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="titlepage">

                    <p class="margin_0"></p><!--문구 넣을 위치-->
                    <a class="read_more" th:href="@{/user/userInfo}" id="userInfo"> 회원정보수정</a>
                </div>
            </div>
            <div class="col-md-10">
                <div class="about_img">
                    <p class="margin_0">예약확인, 날씨(?) 등등 들어갈 자리</p>
                    <figure><img src="/images/about.png" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->