	<link rel="stylesheet" th:href="@{/css/mypage.css}">
	<script src="https://kit.fontawesome.com/e0fa1f6ab7.js" crossorigin="anonymous"></script>
	<script>
    $(document).ready(function () {
        $(".nav-item:nth-child(8)").attr('class', 'nav-item active');
        $(".notactive:nth-child(8)").attr('class', 'active');

        var args = "";
        $.ajax({
            url: '/userBook',
            type: 'post',
            success:function(data){
                for(var i=0; i<data.userBookList.length; i++){
                	let book_car_number=data.userBookList[i].book_car_number;
                	let car_add=book_car_number.split(',');
                	
                    args += '<div class="col-md-4 col-sm-6">';
                    args += '<div id="serv_hover"  class="room mypage-reservation-container">';
                    args += '<div class="room_img">';
                    args += '<figure><img src="/images/'+ data.userBookList[i].book_site_image +'" alt="#"/></figure>';
                    args += '</div>';
                    args += '<div class="bed_room">';
                    args += '<h3>'+data.userBookList[i].site_name+'</h3>';
                    args += '<p>'+data.userBookList[i].book_checkin+' ~ ' + data.userBookList[i].book_checkout+'</p></br>';
                    args += '<div class="mypage-reservation-info"><p> 이용인원 : '+data.userBookList[i].book_member+'명 </p></br>';
                    args += '<p> 예약가격 : '+data.userBookList[i].book_price+' 원</p></br>';
                    args += '<p>차량번호 : '+car_add[0]+'</p></br>';
                    args += '<p>추가옵션 : ';
                    if(car_add[1]>0){
	                    args += '<i class="fa-solid fa-fire" style="color:red;"><span>불멍(모닥불)</span></i>   ';
                    }
                    if(car_add[2]>0){
	                    args += '<i class="fa-solid fa-rocket" style="color:blue;"><span>빠른입실</span></i>   ';
                    }
                    if(car_add[3]>0){
	                    args += '<i class="fa-solid fa-dumpster-fire" style="color:red;"><span>바베큐그릴</span></i>   ';
                    }
                    args += '</p></div></br>';
                    if(car_add[4]!=null){
                    	args += '<button type="button" style="margin-right:10px;cursor:auto;" class="btn btn-success" disabled="disabled" >환불불가</button>';
                    }else{
	                    if(data.userBookList[i].book_state==1){
	            	        args += '<button type="button" style="margin-right:10px" class="btn btn-success" onclick="request_refund(`'+data.userBookList[i].merchant_uid+'`,2)">환불요청</button>';
	                    }else if(data.userBookList[i].book_state==2){
	        	            args += '<button type="button" style="margin-right:10px;cursor:auto;" class="btn btn-success" disabled="disabled" >환불요청중</button>';
	                    }else if(data.userBookList[i].book_state==3){
	    	                args += '<button type="button" style="margin-right:10px;cursor:auto;" class="btn btn-success" disabled="disabled" >환불완료</button>';
	                    }else if(data.userBookList[i].book_state==4){
	                    	args += '<div class="refund-cancel-message"><p style="color:#2fa7bb;">관리자에 의해 환불 요청이<br> 취소 되었습니다.</p></div></br>';
	                    	args += '<button type="button" style="margin-right:10px" class="btn btn-success" onclick="request_refund(`'+data.userBookList[i].merchant_uid+'`,1)">환불취소</button>';
		                    args += '<button type="button" style="margin-right:10px" class="btn btn-success" onclick="request_refund(`'+data.userBookList[i].merchant_uid+'`,2)">환불재요청</button>';
	                    }
                    }
                    
                    args += '</div>';
                    args += '</div>';
                    args += '</div>';
                }
                document.getElementById('bookList').innerHTML = args;
            }
        });
    });
    
    
    function request_refund(num,state){
    		let merchant_uid=num;
    		let go_refund;
    		
    		if(state==2){
				var ok=confirm("환불 요청 하시겠습니까 ");
				if(ok){
					go_refund=1;
				}
				
    		}else if(state==1){
    			var ok=confirm("환불 취소 하시겠습니까 ");
    			if(ok){
					go_refund=1;
    			}
    		}
			
			if(go_refund==1){			
	    		jQuery.ajax({
	    		      "url": "/refund",
	    		      "type": "POST",
	    		      "contentType": "application/json",
	    		      "data": JSON.stringify({
	    		        "merchant_uid":merchant_uid,
	    		        "state":state
	    		      }),
	    		      "dataType": "json",
	    		       success:function(data){
	    		    	   if(data!=1){
	    			    		  alert("요청 실패");
	    			    	  }
	    		    		  location.reload(true);
	    		    	
	    		    }
	    		    
	    		});
	    	
	    }
    }
    
    
    
    
    
    
    
    
</script>

<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>마이페이지</h2>
                    <a class="read_more" th:href="@{/user/userInfo}" id="userInfo"> 회원정보수정</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about -->
<div  class="our_room">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <p  class="margin_0">최근 12개 예약정보 조회</p>
             </div>
          </div>
       </div>
       <div id='bookList' class="row">
          
       </div>
    </div>
 </div>
<!-- end about -->