<script>
    $(document).ready(function () {
        $(".nav-item:nth-child(8)").attr('class', 'nav-item active');
        $(".notactive:nth-child(8)").attr('class', 'active');

        var args = "";
        $.ajax({
            url: 'admin/userBook',
            type: 'post',
            success:function(data){
                for(var i=0; i<data.userBookList.length; i++){
                    args += '<div class="col-md-4 col-sm-6">';
                    args += '<div id="serv_hover"  class="room">';
                    args += '<div class="room_img">';
                    args += '<figure><img src="/images/room1.jpg" alt="#"/></figure>';
                    args += '</div>';
                    args += '<div class="bed_room">';
                    args += '<h3>'+data.userBookList[i].site_name+'</h3>';
                    args += '<p>'+data.userBookList[i].book_checkin+' ~ ' + data.userBookList[i].book_checkout+'</p></br>';
                    args += '<p>'+data.userBookList[i].book_member+'명 </p></br>';
                    args += '<p>'+data.userBookList[i].book_price+' 원</p></br>';
                    args += '<p>차량번호 : '+data.userBookList[i].book_car_number+'</p></br>';
                    args += '</div>';
                    args += '</div>';
                    args += '</div>';
                }
                document.getElementById('bookList').innerHTML = args;
            }
        });
    });
</script>

<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>마이페이지</h2>
                    <a class="read_more" th:href="@{/user/userInfo}" id="userInfo"> 회원정보수정</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about -->
<div  class="our_room">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <p  class="margin_0">최근 12개 예약정보 조회</p>
             </div>
          </div>
       </div>
       <div id='bookList' class="row">
          
       </div>
    </div>
 </div>
<!-- end about -->