<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
	</script>

	<!-- mobile metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">

	<!-- site metas -->
	<title>keto</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- bootstrap css -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<!-- style css -->
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<!-- Responsive-->
	<link rel="stylesheet" th:href="@{/css/responsive.css}">
	<!-- fevicon -->
	<link rel="icon" th:href="@{/images/fevicon.png}" type="image/gif" />
	<!-- Scrollbar Custom CSS -->
	<link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
	<!-- Tweaks for older IEs-->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
		media="screen">
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
	<!-- 카카오 로그인 -->
	<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js" integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
	$(document).ready(function () {
		//모달-------------------------
		$('#modal_open').click(function () {
			document.getElementById("modal").style.display = "flex";
			document.body.style = "overflow: hidden";
		});
			$('#modal_close').click(function () {
			document.getElementById("modal").style.display = "none";
			document.body.style = "overflow: auto";
		});
		//end 모달-------------------------
		//로그인
		$('#loginForm a').click(function () {
			$('#loginForm').attr({
				'method': 'post',
				'action': '[[@{/user/loginOk}]]'
			});
			$('#loginForm').submit();
		});
		//TODO:카카오 로그인 미완
		//카카오 로그인
		Kakao.init('0172e111f7c68f1a00f2e9cdd810d74a'); //발급받은 키 중 javascript키를 사용해준다.
		console.log(Kakao.isInitialized()); // sdk초기화여부판단
		});
	//카카오로그인
	function kakaoLogin() {
			Kakao.Auth.login({
				scope: 'profile_nickname, account_email, gender, birthday',
				success: function (response) {
					Kakao.API.request({
						url: '/v2/user/me',
						data: {
							property_key: ['kakao_account.account_email', 'kakao_account.gender'],
						},
						// success: function (response) {
						// 	console.log(response)
						// },
						// fail: function (error) {
						// 	console.log(error)
						// },
					})
					.then(function(response){
						console.log(response);
					})
				},
				fail: function (error) {
					console.log(error)
				},
			})
		}
	//카카오로그아웃
	function kakaoLogout() {
    	if (!Kakao.Auth.getAccessToken()) {
	    	console.log('Not logged in.');
	    	return;
	   	}
	   	Kakao.Auth.logout(function(response) {
    		alert(response +' logout');
	    	window.location.href='/'
	   	});
	//TODO:마이페이지로 차후 이동해야함
	//카카오로 연동된 계정 탈퇴  
	function kakaoDelete() {
		if (Kakao.Auth.getAccessToken()) {
			Kakao.API.request({
				url: '/v1/user/unlink',
				success: function (response) {
					console.log(response)
				},
				fail: function (error) {
					console.log(error)
				},
			})
			Kakao.Auth.setAccessToken(undefined)
		}
	}
};
</script>

</head>

<!-- 모달창-->
<div id="modal" class="modal-overlay">
	<div class="modal-content">
		<div class="modal-btn">
			<button th:onclick="|location.href='@{/user/register}'|">회원가입</button>
			<button id="modal_close">닫기</button>
		</div>
		<div class="modal-login">
			<h2>로그인</h2>
			<form id="loginForm">
				아이디 <input type="text" name="user_id" /><br>
				비밀번호 <input type="password" name="user_password"><br>
				<a href="#">로그인</a>
			</form>
			<br>
			<ul>
				<a href="javascript:kakaoLogin()">
					<img th:src="@{/images/kakao_login_medium_wide.png}"/>
				</a>
			</ul>
			<ul>
				<a href="javascript:kakaoLogout()">
					<img th:src="@{/images/kakao_login_medium_wide.png}"/>
				</a>
			</ul>
		</div>
	</div>
</div>

<!-- body -->

<body class="main-layout">
	<!-- loader  -->
	<div class="loader_bg">
		<div class="loader">
			<img th:src="@{/images/loading.gif}" alt="#" />
		</div>
	</div>
	<!-- end loader -->
	<!-- header -->
	<header>



		<!-- header inner -->
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
						<div class="full">
							<div class="center-desk">
								<div class="logo">
									<a th:href="@{/}"><img th:src="@{/images/logo.png}" alt="#" /></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
						<nav class="navigation navbar navbar-expand-md navbar-dark ">

							<button id="" class="navbar-toggler" type="button" data-toggle="collapse"
								data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarsExample04">
								<ul class="navbar-nav mr-auto">

									<!-- 현재 선택 활성화로 보이게 하려면 class="nav-item active" 해야합니다-->

									<li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
									<li class="nav-item"><a class="nav-link" th:href="@{/notice}">공지사항</a></li>
									<li class="nav-item"><a class="nav-link" th:href="@{/zone}">구역안내</a></li>
									<li class="nav-item"><a class="nav-link" th:href="@{/facility}">시설안내</a></li>
									<li class="nav-item"><a class="nav-link" th:href="@{/book}">예약하기</a></li>
									<li class="nav-item"><a class="nav-link" th:href="@{/waymap}">오시는길</a></li>
									<li th:if="${session.user==null} and ${response==null}" class="nav-item"><a class="nav-link"><button id="modal_open">로그인</button></a></li>
									<li th:if="${session.user==null}" class="nav-item"><a class="nav-link" th:href="@{/user/register}">회원가입</a></li>
									<li th:if="${session.user!=null}" class="nav-item"><a class="nav-link" th:href="@{/user/logout}">로그아웃</a></li>
									<li th:if="${session.user!=null}" class="nav-item"><a class="nav-link" th:href="@{/user/mypage}">마이페이지</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- end header inner -->
	<!-- end header -->

	<!-- banner -->
	<section class="banner_main">
		<aside id="center_aside" th:include="${center} ? ${center} : index"></aside>
	</section>
	<!-- end banner -->
	<!-- end contact -->

	<!--  footer -->
	<footer>
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class=" col-md-4">
						<h3>Contact US</h3>
						<ul class="conta">
							<li><i class="fa fa-map-marker" aria-hidden="true"></i>
								Address</li>
							<li><i class="fa fa-mobile" aria-hidden="true"></i> +01
								1234569540</li>
							<li><i class="fa fa-envelope" aria-hidden="true"></i><a th:href="@{#}"> demo@gmail.com</a>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<h3>Menu Link</h3>
						<ul class="link_menu">
							<li class="notactive"><a th:href="@{/}">Home</a></li>
							<li class="notactive"><a th:href="@{/notice}"> 공지사항</a></li>
							<li class="notactive"><a th:href="@{/zone}">구역안내</a></li>
							<li class="notactive"><a th:href="@{/facility}">시설안내</a></li>
							<li class="notactive"><a th:href="@{/book}">예약하기</a></li>
							<li class="notactive"><a th:href="@{/waymap}">오시는길</a></li>
						</ul>
					</div>
					<!--  
                  <div class="col-md-4">
                     <h3>News letter</h3>
                     <form class="bottom_form">
                        <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                        <button class="sub_btn">subscribe</button>
                     </form>
                     <ul class="social_icon">
                        <li><a th:href="@{/#}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a th:href="@{/#}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a th:href="@{/#}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a th:href="@{/#}"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                     </ul>
                  </div>
                  -->
				</div>
			</div>
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-10 offset-md-1">

							<p>
								© 2019 All Rights Reserved. Design by <a href="https://html.design"> Free Html
									Templates</a> <br>
								<br> Distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->
	<!-- Javascript files-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/jquery-3.0.0.min.js}"></script>
	<!-- sidebar -->
	<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script th:src="@{/js/custom.js}"></script>

</body>

</html>