<main id="main" class="main">

    <div class="pagetitle">
        <h1>시설안내 수정</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/main}">Home</a></li>
                <li class="breadcrumb-item active">facility edit</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            
            
     
  
        </div>
      </section>
</main><!-- End #main -->