<script>
   $(document).ready(function () {
      $(".nav-item:nth-child(1)").attr('class', 'nav-item active');
      $(".notactive:nth-child(1)").attr('class', 'active');

      //로고 마우스 수정영역 표시	
		$('.modal_block_logo').mouseenter(function(){
			$('.modal_block_logo').css('border', 'solid 2px red')
		});
		$('.modal_block, .modal_block_logo').mouseleave(function(){
			$('.modal_block_logo').css('border', 'none');
		});
		//로고 마우스 수정영역표시 end
      
      //소개 게시글 마우스 수정영역 표시	
		$('.modal_block').mouseenter(function(){
			$('.modal_block').css('border', 'solid 2px red')
		});
		$('.modal_block, .modal_block_logo').mouseleave(function(){
			$('.modal_block').css('border', 'none');
		});
		//소개 게시글 마우스 수정영역표시 end

      //이미지만 변경하는 이벤트 함수
      $('#modal_edit_logo > #logo_edit').click(function(){
			var image_data = $('#modal_edit_logo').serialize();
			
			document.getElementById("modal_logo_edit").style.display = "flex"
			document.body.style = "overflow: hidden";
			
			$.ajax({
				url: '/admin/logoEdit',
				data: image_data,
				success: function(data){
					document.getElementById('logo1').innerText = data.company.company_logo1;
               document.getElementById('logo2').innerText = data.company.company_logo2;
				},

			});
		});
      $('#logo1Form > #image_edit').click(function(){
         $('#logo1Form').attr({
            'method': 'post',
            'action': '/admin/logo/edit'
         })
      });

      //home 소개 게시글 수정 모달 -----------------------
		$('#modal_edit #modal_edit_block').click(function(){
			var board_data = $('#modal_edit').serialize();
			
			document.getElementById("modal_board_edit").style.display = "flex"
			document.body.style = "overflow: hidden";
			
			$.ajax({
				url: '/admin/boardEdit',
				data: board_data,
				success: function(data){
					if (data.home != null) {
						const content = data.home.home_content;
						document.getElementById('content').innerText = content;
						$('#board_code').val(data.home.home_code);
						$('#whatDTO').val('homeDTO');
					}
				},

			});
		});
		$('#boardForm button[id=board_edit]').click(function(){
			$('#boardForm').attr({
				'method': 'post',
				'action': '/admin/board/edit'
			});
			$('#boardForm').submit();
		});

		//end 글 수정 모달--------------------
   });
</script>
<!-- home 소개 게시글 수정 모달창 -->
<div id="modal_board_edit" class="modal-overlay">
	<div class="modal-content">
		<div class="modal-btn">
			<!--<button th:onclick="|location.href='@{/user/register}'|">회원가입</button> -->
			<button class="modal_close">닫기</button>
		</div>
		<div class="modal-login">
			<h2>게시글 수정</h2>
			<form id="boardForm">
				<input id="whatDTO" type="hidden" name="whatDTO"/>
				<input id="board_code" type="hidden" name="board_code"/>
				<input id="title" type="text" name="title" style="width: 350px;"/><br><br>
				<textarea id="content" rows="10" cols="50" name="content"></textarea><br><br>
				<button id="board_edit" style="width:200px;">수정</button>
			</form>
		</div>
	</div>
</div>
<!-- end home 소개 게시글 수정 모달창 -->

<!-- 로고 게시글 수정 -->
<div id="modal_logo_edit" class="modal-overlay">
	<div class="modal-content">
		<div class="modal-btn">
			<button class="modal_close">닫기</button>
		</div>
		<div class="modal-login">
			<h2>로고 수정</h2>
			<form id="logo1Form" enctype="multipart/form-data">
            메뉴바 Logo : <span id="logo1"></span><br><input type="file" name="company_logo1"/><br>
            캠핑장명 Logo : <span id="logo2"></span><br><input type="file" name="company_logo2"/><br>
				<button id="image_edit" style="width:200px;">수정</button>
			</form>
		</div>
	</div>
</div>
<!-- 슬라이드 게시글 수정 -->
<div id="modal_slide_edit" class="modal-overlay">
	<div class="modal-content">
		<div class="modal-btn">
			<button class="modal_close">닫기</button>
		</div>
		<div class="modal-login">
			<h2>슬라이드 수정</h2>
			<form id="slideForm" enctype="multipart/form-data">
            <li th:each="slide : ${slide}" th:if="${slide.home_code == homecont.home_code}">
               <span th:text="'슬라이드 ' + ${slideStat.count} + ' : '"></span><span th:text="${slide.image_file}"></span><br>
               <input type="file" name="home_slide"/></li>
				<button id="image_edit" style="width:200px;">수정</button>
			</form>
		</div>
	</div>
</div>
<!-- banner -->
<section class="banner_main">
   <!-- slider -->
   <div id="myCarousel" class="carousel slide banner" data-ride="carousel">
      <ol class="carousel-indicators">
         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
         <li th:each="slide : ${slide}" th:if="${slide.home_code == homecont.home_code and slideStat.index>0}" data-target="#myCarousel" th:data-slide-to="${slideStat.index}"></li>
      </ol>
      <div class="carousel-inner">
         <div th:each="slide : ${slide}" th:if="${slide.home_code == homecont.home_code and slideStat.index==0}" class="carousel-item active">
            <img class="first-slide" th:src="@{/images/} + ${slide.image_file}" alt="First slide">
         </div>
         <div th:each="slide : ${slide}" th:if="${slide.home_code == homecont.home_code and slideStat.index>0}" class="carousel-item">
            <img class="first-slide" th:src="@{/images/} + ${slide.image_file}" alt="First slide">
         </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
      </a>
   </div>
   <!-- Logo -->
   <form id="modal_edit_logo">
      <a id="logo_edit" href="#edit">
         <div class="booking_ocline2">
            <div class="col-md-1">
               <div id="book_ocline_logo"><img class="modal_block_logo" th:src="@{/images/}+${session.company.company_logo2}"  alt="logo" /></div>
            </div>
         </div>
      </a>
   </form>
   <!-- 환영 인사 -->
   <form id="modal_edit">
      <div class="booking_ocline">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <a id="modal_edit_block" href="#edit">
                     <div class="modal_block">
                        <div class="book_room">
                           <h1 th:text="${session.company.company_name}"></h1><h1>방문을 환영합니다</h1>
                           <div class="row">
                              <div class="col-md-12">
                                 <span th:text="${homecont.home_content}"></span>
                                 <input type="hidden" name="home_code" th:value="${homecont.home_code}"/>
                              </div>
                           </div>
                           <!--  기존 폼
                           <form class="book_now">
                              <div class="row">
                                 <div class="col-md-12">
                                    <span>Arrival</span>
                                    <img class="date_cua" th:src="@{/images/date.png}">
                                    <input class="online_book" placeholder="dd/mm/yyyy" type="date" name="dd/mm/yyyy">
                                 </div>
                                 <div class="col-md-12">
                                    <span>Departure</span>
                                    <img class="date_cua" th:src="@{/images/date.png}">
                                    <input class="online_book" placeholder="dd/mm/yyyy" type="date" name="dd/mm/yyyy">
                                 </div>
                                 <div class="col-md-12">
                                    <button class="book_btn">Book Now</button>
                                 </div>
                              </div>
                           </form>
                           -->
                        </div>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </form>
</section>
<!-- end banner -->
<!--TODO: CSS수정 필요 (공지사항 번호 밀림)-->
<!-- 공지 -->
<div class="main_notice">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>&nbsp;&nbsp;&nbsp;주요공지&nbsp;</h2>
               <ul id="main_notice_list">
               		<div th:each="noticeLv:${noticeLv}">
               			<li>
               				<a th:text="'-&nbsp;&nbsp;'+${noticeLv.notice_title}" th:href="@{/notice/noticeview(notice_code=${noticeLv.notice_code})}"></a>
               			</li>
               		</div>
               </ul>
            </div>
            <div class="main_notice_read_more">
            	<a class="read_more" th:href="@{/notice}">Read More</a>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end공지 -->
	
<!-- 구역소개 -->
<div class="our_room">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>&nbsp;&nbsp;&nbsp;구역소개&nbsp;</h2>
               <p>캠핑장 구역을 확인할 수 있습니다.</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 col-sm-6" th:each="zone:${zlist}">
            <div id="serv_hover" class="room">
               <div class="room_img">
					<span th:each="img:${ilist}" th:if="${zone.zone_code == img.zone_code}">
						<figure><img th:src="'images/'+${img.image_file}" alt="#"/></figure>
					</span>
				</div>
               <div class="bed_room">
                  <h3 th:text="${zone.zone_name}"></h3>
                  <p th:text="${zone.zone_content}"></p>
               </div>
            </div>
         </div>
        
         <!-- 기존 폼 
         <div class="col-md-4 col-sm-6">
            <div id="serv_hover" class="room">
               <div class="room_img">
                  <figure><img th:src="@{/images/room6.jpg}" alt="#" /></figure>
               </div>
               <div class="bed_room">
                  <h3>Bed Room</h3>
                  <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
               </div>
            </div>
         </div>
         -->
         <div class="col-md-12">
	         <div class="our_read_more">
	         	<a class="read_more" th:href="@{/zone}"> Read More</a>
	         </div>
         </div>
      </div>
   </div>
</div>
<!-- end 구역소개 -->

<!-- 편의시설 -->
<div class="gallery">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>&nbsp;&nbsp;&nbsp;편의시설&nbsp;</h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-sm-6" th:each="f : ${facilities}">
            <div class="gallery_img">
               <figure><img th:src="@{/images/gallery1.jpg}" alt="#" /></figure><!--차후 th:src='/images/$"{fStat.current.facility_file}"'로 변경-->
            </div>
            <div class="fac">
               <h3 th:text="${f.facility_name}"></h3>   
            </div>
         </div>
         <div class="col-md-12">
	         <div class="fac_read_more">
	         	<a class="read_more" th:href="@{/facility}"> Read More</a>
	         </div>
         </div>
         <!--  기존양식
         <div class="col-md-3 col-sm-6">
            <div class="gallery_img">
               <figure><img th:src="@{/images/gallery2.jpg}" alt="#" /></figure>
            </div>
         </div>       
         -->
      </div>
   </div>
</div>
<!-- end 편의시설 -->
<!-- blog -->
<div class="blog">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>후기?를둘까요</h2>
               <p>베스트 후기로 선정되신 이용객 박제 </p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <div class="blog_box">
               <div class="blog_img">
                  <figure><img th:src="@{/images/blog1.jpg}" alt="#" /></figure>
               </div>
               <div class="blog_room">
                  <h3>안구건조증에 추천해요</h3>
                  <span>&#10029;&#10029;&#10029;&#10029;</span>
                  <p>너무좋아서 눈물이나요</p>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="blog_box">
               <div class="blog_img">
                  <figure><img th:src="@{/images/blog2.jpg}" alt="#" /></figure>
               </div>
               <div class="blog_room">
                  <h3>집 없는 사람이라 너무 좋았어요</h3>
                  <span>&#10029;&#10029;&#10029;&#10029;&#10029;</span>
                  <p>여기서 살래요 여기서 살래요 여기서 살래요 여기서 살래요 여기서 살래요 여기서 살래요</p>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="blog_box">
               <div class="blog_img">
                  <figure><img th:src="@{/images/blog3.jpg}" alt="#" /></figure>
               </div>
               <div class="blog_room">
                  <h3>가족 과 따듯하고.즐건. 여행  시간...</h3>
                  <span>&#10029;&#10029;&#10029;&#10029;</span>
                  <p>너무좋아서 눈물이나요 여기서 살래요 가족여행으로 즐거운 추억을 쌓고 갑니다너무좋아서 눈물이나요 여기서 살래요 가족여행으로 즐거운 추억을 쌓고 갑니다</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end blog -->


<!--  contact -->
<div class="contact">
   <div class="container">
			<aside id="map_aside" th:include="${map} ? ${map} : kkomap"></aside>
   </div>
</div>
<!-- end contact -->

<!--  footer -->
	<footer>
		<aside id="footer_aside" th:include="${footer} ? ${footer} : footer"></aside>
	</footer>
<!-- end footer -->


