<script>
    var today = new Date();
    var todayYear = today.getFullYear();
    var todayMonth = today.getMonth() + 1
    let nowSelectingMainCart = 1;
    let yearSelected = null;
    let monthSelected = null;
    $(document).ready(function () {
        monthAndYear();
        getGraph('' + todayYear + '-' + ('0' + todayMonth).slice(-2));
        $('#yearSelect').click(function () {
            yearSelected = $('#yearSelect').val();
        })
        $('#monthSelect').click(function () {
            monthSelected = $('#monthSelect').val();
            monthSelected = ('0' + monthSelected).slice(-2);
            let stringDate = yearSelected + '-' + monthSelected;
            getGraph(stringDate);
        })
        $('#mainChartTypeM').click(function () {
            nowSelectingMainCart = 1;
            monthAndYear();
        })
        $('#mainChartTypeY').click(function () {
            nowSelectingMainCart = 2;
            monthAndYear();
        })
    });
</script>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>통계 페이지</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/main}">Main</a></li>
                <li class="breadcrumb-item active">통계페이지</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">

                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">

                            <div class="filter">
                                <a class="icon" th:href="@{#}" data-bs-toggle="dropdown"><i
                                    class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" th:href="@{#}">Today</a></li>
                                    <li><a class="dropdown-item" th:href="@{#}">This Month</a></li>
                                    <li><a class="dropdown-item" th:href="@{#}">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Books <span>| Today</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-cart"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>145</h6>
                                        <span class="text-success small pt-1 fw-bold">12%</span>
                                        <span class="text-muted small pt-2 ps-1">increase</span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->

                    <!-- Revenue Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">

                            <div class="filter">
                                <a class="icon" th:href="@{#}" data-bs-toggle="dropdown"><i
                                    class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" th:href="@{#}">Today</a></li>
                                    <li><a class="dropdown-item" th:href="@{#}">This Month</a></li>
                                    <li><a class="dropdown-item" th:href="@{#}">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Revenue <span>| This Month</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>$3,264</h6>
                                        <span class="text-success small pt-1 fw-bold">8%</span>
                                        <span class="text-muted small pt-2 ps-1">increase</span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Revenue Card -->

                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-xl-12">

                        <div class="card info-card customers-card">

                            <div class="filter">
                                <a class="icon" th:href="@{#}" data-bs-toggle="dropdown"><i
                                    class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" th:href="@{#}">Today</a></li>
                                    <li><a class="dropdown-item" th:href="@{#}">This Month</a></li>
                                    <li><a class="dropdown-item" th:href="@{#}">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Visitor <span>| This Year</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>1244</h6>
                                        <span class="text-danger small pt-1 fw-bold">12%</span>
                                        <span class="text-muted small pt-2 ps-1">decrease</span>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Customers Card -->

                    <!-- Reports -->
                    <div class="col-12">
                        <div class="card">

                            <div class="filter">
                                <a class="icon" th:href="@{#}" data-bs-toggle="dropdown"><i
                                    class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>
                                    <li><a class="dropdown-item" id="mainChartTypeM">Monthly</a>
                                    </li>
                                    <li><a class="dropdown-item" id="mainChartTypeY">Yearly</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title" id="mainChart"></h5>

                                <!-- Line Chart -->
                                <div id="reportsChart"></div>

                                <script>
                                    function monthAndYear(){
                                        let i;
                                        var str = '통계<select name=\"year\" id=\"yearSelect\">';
                                        for (i = todayYear - 5; i < todayYear; i++) {
                                            str += '<option value=' + i + '>' + i + '</option>';
                                        }
                                        str += '<option value=' + todayYear
                                            + ' selected=\"selected\">' + todayYear +
                                            '</option>';
                                        for (i = todayYear + 1; i < todayYear + 5; i++) {
                                            str += '<option value=' + i + '>' + i + '</option>';

                                        }
                                        str += '</select>';
                                        if (nowSelectingMainCart < 2) {
                                            str += '<select name=\"month\" id=\"monthSelect\">';
                                            for (i = 1; i < todayMonth; i++) {
                                                str += '<option value=' + i + '>' + i + '</option>';
                                            }
                                            str += '<option value=' + todayMonth
                                                + ' selected=\"selected\">' + todayMonth +
                                                '</option>';
                                            for (i = todayMonth + 1; i < 13; i++) {
                                                str += '<option value=' + i + '>' + i + '</option>';
                                            }
                                            str += '</select>';
                                        }
                                        document.getElementById("mainChart").innerHTML = str
                                    }

                                    document.addEventListener("DOMContentLoaded", () => {
                                        new ApexCharts(document.querySelector("#reportsChart"), {
                                            series: [{
                                                name: 'Sales',
                                                data: [31, 40, 28, 51, 42, 82, 56],
                                            }, {
                                                name: 'Revenue',
                                                data: [11, 32, 45, 32, 34, 52, 41]
                                            }, {
                                                name: 'Customers',
                                                data: [15, 11, 32, 18, 9, 24, 11]
                                            }],
                                            chart: {
                                                height: 350,
                                                type: 'area',
                                                toolbar: {
                                                    show: false
                                                },
                                            },
                                            markers: {
                                                size: 4
                                            },
                                            colors: ['#4154f1', '#2eca6a', '#ff771d'],
                                            fill: {
                                                type: "gradient",
                                                gradient: {
                                                    shadeIntensity: 1,
                                                    opacityFrom: 0.3,
                                                    opacityTo: 0.4,
                                                    stops: [0, 90, 100]
                                                }
                                            },
                                            dataLabels: {
                                                enabled: false
                                            },
                                            stroke: {
                                                curve: 'smooth',
                                                width: 2
                                            },
                                            xaxis: {
                                                type: 'text',
                                                categories: ["2018-06-01",
                                                    "2018-07",
                                                    "2018-08",
                                                    "2018-09-01",
                                                    "2018-10-01",
                                                    "2018-11-01",
                                                    "2018-12-01"]
                                            },
                                            tooltip: {
                                                x: {
                                                    format: 'yyyy-MM'
                                                },
                                            }
                                        }).render();
                                    });
                                </script>
                                <!-- End Line Chart -->

                            </div>

                        </div>
                    </div><!-- End Reports -->


                    <!-- Top Selling -->
                    <div class="col-12">
                        <div class="card top-selling overflow-auto">
                            <div class="row">
                                <div class="col-6">
                                    <div class="card-body pb-0">
                                        <h5 class="card-title">구역별 매출
                                        </h5>
                                        <script>
                                            function drawChart(divID, obj) {
                                                let myChart = echarts.init(
                                                    document.getElementById(divID));
                                                var option = {
                                                    tooltip: {
                                                        trigger: 'item'
                                                    },
                                                    legend: {
                                                        top: '5%',
                                                        left: 'center'
                                                    },
                                                    series: [{
                                                        name: '구역별 매출',
                                                        type: 'pie',
                                                        radius: ['40%', '70%'],
                                                        avoidLabelOverlap: false,
                                                        label: {
                                                            show: false,
                                                            position: 'center'
                                                        },
                                                        emphasis: {
                                                            label: {
                                                                show: true,
                                                                fontSize: '18',
                                                                fontWeight: 'bold'
                                                            }
                                                        },
                                                        labelLine: {
                                                            show: false
                                                        },
                                                        data: obj,
                                                    }]
                                                }
                                                myChart.setOption(option);
                                            }

                                            function getGraph(data) {
                                                let label;

                                                $.ajax({
                                                    url: "/admin/main/graphData",
                                                    type: "post",
                                                    data: {'stringDate': data},
                                                    success: function (data) {
                                                        console.log(data.Graph.labelsList[0]);
                                                        console.log(data.Graph.dataList[0]);
                                                        label = data.Graph.label;
                                                        let myobj1 = [];
                                                        // 그래프로 나타낼 자료 리스트에 담기

                                                        for (let i = 0;
                                                            i < data.Graph.labelsList.length; i++) {
                                                            myobj1.push(
                                                                {
                                                                    value: data.Graph.dataList[i],
                                                                    name: data.Graph.labelsList[i]
                                                                });
                                                        }
                                                        drawChart('budgetChart', myobj1)
                                                        // 그래프
                                                    },
                                                    error: function () {
                                                        alert("실패");
                                                    }

                                                }) // ajax
                                            } // getGraph
                                        </script>
                                        <div id="budgetChart" style="min-height: 400px;"
                                             class="echart"></div>


                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="card-body pb-0">
                                        <h5 class="card-title">구역별 방문자</h5>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Top Selling -->

                </div>
            </div><!-- End Left side columns -->

            <!-- Right side columns -->
            <div class="col-lg-4">

                <!-- Recent Activity -->
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">최근 예약</h5>

                        <table class="table table-borderless datatable">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">고객</th>
                                <th scope="col">구역 / 사이트</th>
                                <th scope="col">가격</th>
                                <th scope="col">상태</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row"><a th:href="@{#}">#2457</a></th>
                                <td>Brandon Jacob</td>
                                <td>At praesentium minu</td>
                                <td>$64</td>
                                <td><span class="badge bg-success">Approved</span></td>
                            </tr>
                            <tr>
                                <th scope="row"><a th:href="@{#}">#2147</a></th>
                                <td>Bridie Kessler</td>
                                <td>Blanditiis dolor omnis similique</td>
                                <td>$47</td>
                                <td><span class="badge bg-warning">Pending</span></td>
                            </tr>
                            <tr>
                                <th scope="row"><a th:href="@{#}">#2049</a></th>
                                <td>Ashleigh Langosh</td>
                                <td>At recusandae consectetur</td>
                                <td>$147</td>
                                <td><span class="badge bg-success">Approved</span></td>
                            </tr>
                            <tr>
                                <th scope="row"><a th:href="@{#}">#2644</a></th>
                                <td>Angus Grady</td>
                                <td>Ut voluptatem id earum et</td>
                                <td>$67</td>
                                <td><span class="badge bg-danger">Rejected</span></td>
                            </tr>
                            <tr>
                                <th scope="row"><a th:href="@{#}">#2644</a></th>
                                <td>Raheem Lehner</td>
                                <td>Sunt similique distinctio</td>
                                <td>$165</td>
                                <td>Approved</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div><!-- End Recent Activity -->


                <!-- News & Updates Traffic -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">최근 리뷰</h5>

                        <table class="table table-borderless datatable">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">작성자</th>
                                <th scope="col">내용</th>
                                <th scope="col">별점</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row"><a th:href="@{#}">#2457</a></th>
                                <td>Brandon Jacob</td>
                                <td><a th:href="@{#}" class="text-primary">At praesentium minu</a>
                                </td>
                                <td>$64</td>

                            </tr>
                            <tr>
                                <th scope="row"><a th:href="@{#}">#2147</a></th>
                                <td>Bridie Kessler</td>
                                <td><a th:href="@{#}" class="text-primary">Blanditiis dolor omnis
                                    similique</a></td>
                                <td>$47</td>

                            </tr>
                            <tr>
                                <th scope="row"><a th:href="@{#}">#2049</a></th>
                                <td>Ashleigh Langosh</td>
                                <td><a th:href="@{#}" class="text-primary">At recusandae
                                    consectetur</a></td>
                                <td>$147</td>

                            </tr>
                            <tr>
                                <th scope="row"><a th:href="@{#}">#2644</a></th>
                                <td>Angus Grady</td>
                                <td><a th:href="@{#}" class="text-primar">Ut voluptatem id earum
                                    et</a></td>
                                <td>$67</td>

                            </tr>
                            <tr>
                                <th scope="row"><a th:href="@{#}">#2644</a></th>
                                <td>Raheem Lehner</td>
                                <td><a th:href="@{#}" class="text-primary">Sunt similique
                                    distinctio</a></td>
                                <td>$165</td>

                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div><!-- End News & Updates -->

            </div><!-- End Right side columns -->

        </div>
    </section>

</main><!-- End #main -->
