<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
      
        <title>Admin page - 관리자용</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- jQuery -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <!-- Favicons -->
        <link th:href="@{/img/favicon.png}" rel="icon">
        <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">
      
        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      	<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gothic+A1:wght@200;600;800&family=Hahmlet:wght@200;500;700&family=Jua&family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
      	<!-- 추가된 폰트
      		1)font-family: 'Do Hyeon', sans-serif; 400
			2)font-family: 'Gothic A1', sans-serif; 200 600 800
			3)font-family: 'Hahmlet', serif; 200 500 700
			4)font-family: 'Noto Sans KR', sans-serif; 300
			5)font-family: 'Jua', sans-serif;
      	
      	 -->
      	
        <!-- Vendor CSS Files -->
        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
        <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
        <link th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
        <link th:href="@{/vendor/quill/quill.bubble.css}" rel="stylesheet">
        <link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
        <link th:href="@{/vendor/simple-datatables/style.css}" rel="stylesheet">
      
        <!-- Template Main CSS File -->
        <link th:href="@{/css/style.css}" rel="stylesheet">
      
        <!-- =======================================================
        * Template Name: NiceAdmin - v2.5.0
        * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
    </head>
      
    <body>
      
        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top d-flex align-items-center">
      
          <div class="d-flex align-items-center justify-content-between">
            <a style="width:230px;" th:href="@{/}" class="logo d-flex align-items-center">
              <img th:src="'/admin/images/'+${session.company.company_logo1}"/>	<!-- 이미지경로수정 -->
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
          </div><!-- End Logo -->

          <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
      
              <li class="nav-item dropdown pe-3">
      
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                  <img th:src="@{/img/profile-img.jpg}" alt="Profile" class="rounded-circle">
                  <span th:text="${session.company.company_name}"></span>
                </a><!-- End Profile Iamge Icon -->
              </li><!-- End Profile Nav -->
      
            </ul>
          </nav><!-- End Icons Navigation -->
      
        </header><!-- End Header -->
      
        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">
            <aside id="left_aside" th:include="${left} ? ${left} : sidebar"></aside>
        </aside>
        <!-- End Sidebar-->
        
        <!--Insert HTML Fil location-->
        <section class="banner_main">
            <aside id="center_aside" th:include="${center} ? ${center} : index"></aside>
        </section>

        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">
            <div class="copyright">
            &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </footer><!-- End Footer -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/vendor/chart.js/chart.umd.js}"></script>
        <script th:src="@{/vendor/echarts/echarts.min.js}"></script>
        <script th:src="@{/vendor/quill/quill.min.js}"></script>
        <script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
        <script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
        <script th:src="@{/vendor/php-email-form/validate.js}"></script>

        <!-- Template Main JS File -->
        <script th:src="@{/js/main.js}"></script>

    </body>

</html>