<script>
  $(document).ready(function(){
    $('#logOutComplete').click(function(){
      alert("로그아웃 하였습니다.");
    });
  });
</script>

<ul class="sidebar-nav" id="sidebar-nav">
      
            <li class="nav-item">
              <a class="nav-link collapsed" th:href="@{/main}">
                <i class="bi bi-grid"></i>
                <span>통계 페이지</span>
              </a>
            </li><!-- End Dashboard Nav -->
      		
      		 <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>메인 수정</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              	<li>
                  <a th:href="@{/company}">
                    <i class="bi bi-circle"></i><span>Logo 및 상호 수정</span>
                  </a>
                </li>
              
                <li>
                  <a th:href="@{/home}">
                    <i class="bi bi-circle"></i><span>Home 화면 수정</span>
                  </a>
                </li>
              </ul>
            </li>
            <!-- End Forms Nav -->
            
            <li class="nav-item">
              <a class="nav-link collapsed" th:href="@{/notice}">
                <i class="bi bi-bar-chart"></i>
                <span>공지 수정</span>
              </a>
            </li><!-- End Dashboard Nav -->
            
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse">
                <i class="bi bi-menu-button-wide"></i><span>구역 수정</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <span th:each="zone:${session.zlist}">
	                <li>
	                  <a th:href="'zone?zone_code='+${zone.zone_code}" th:if="${zone.zone_state} == 1">
	                    <i class="bi bi-circle"></i><span th:text="${zone.zone_name}"></span>
	                  </a>
	                </li>
                </span>
              </ul>
            </li><!-- End Components Nav -->
            
            <li class="nav-item">
		        <a class="nav-link collapsed" th:href="@{/facility}">
		          <i class="bi bi-bar-chart"></i>
		          <span>시설 수정</span>
		        </a>
			</li><!-- End Charts Nav -->

      
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>회원 관리</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                  <a th:href="@{/user/userEdit}">
                    <i class="bi bi-circle"></i><span>회원관리</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/bookEdit}">
                    <i class="bi bi-circle"></i><span>환불요청</span>
                  </a>
                </li>
              </ul>
            </li><!-- End Tables Nav -->
            

            <li class="nav-item">
              <a id="logOutComplete" class="nav-link collapsed" th:href="@{/logOut}">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>LogOut</span>
              </a>
            </li><!-- End Login Page Nav -->
      
           
      
          </ul>