<ul class="sidebar-nav" id="sidebar-nav">
      
            <li class="nav-item">
              <a class="nav-link " th:href="@{/main}">
                <i class="bi bi-grid"></i>
                <span>통계 페이지</span>
              </a>
            </li><!-- End Dashboard Nav -->
      		
      		 <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>메인 수정</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                  <a th:href="@{/forms-elements}">
                    <i class="bi bi-circle"></i><span>상호 정보 수정</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/forms-layouts}">
                    <i class="bi bi-circle"></i><span>배너 수정</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/forms-editors}">
                    <i class="bi bi-circle"></i><span>ㅇㅇ수정</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/forms-validation}">
                    <i class="bi bi-circle"></i><span>ㅇㅇㅇ수정</span>
                  </a>
                </li>
              </ul>
            </li>
            <!-- End Forms Nav -->
            
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>구역 수정</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                  <a th:href="@{/zone}">
                    <i class="bi bi-circle"></i><span>A구역</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/zone}">
                    <i class="bi bi-circle"></i><span>B구역</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/zone}">
                    <i class="bi bi-circle"></i><span>C구역</span>
                  </a>
                </li>
              </ul>
            </li><!-- End Components Nav -->
      
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Tables(임시)</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                  <a th:href="@{/tables-general}">
                    <i class="bi bi-circle"></i><span>General Tables</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/tables-data}">
                    <i class="bi bi-circle"></i><span>Data Tables</span>
                  </a>
                </li>
              </ul>
            </li><!-- End Tables Nav -->
            
            <li class="nav-heading">Pages</li>
      
            <li class="nav-item">
              <a class="nav-link collapsed" th:href="@{/users-profile}">
                <i class="bi bi-person"></i>
                <span>Profile</span>
              </a>
            </li><!-- End Profile Page Nav -->

            <li class="nav-item">
              <a class="nav-link collapsed" th:href="@{/pages-login}">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Login</span>
              </a>
            </li><!-- End Login Page Nav -->
      
           
      
          </ul>