<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camp.admin.mapper.HomeMapper">
  <insert id="insert" parameterType="HomeDTO">

  </insert>
  <update id="update" parameterType="HomeDTO">
  
  </update>
  <delete id="delete">
  
  </delete>
  
  <select id="select" resultType="HomeDTO">
    SELECT * FROM home JOIN admin ON home.admin_code = admin.admin_code WHERE company_code=#{companycode}
  </select>
  <select id="selectAll" resultType="HomeDTO">

  </select>    
</mapper>