<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camp.admin.mapper.SiteMapper">
    <select id="selectByCompany" resultType="Integer">
        select site.site_code, site.zone_code
        from site,
             zone,
             admin
        where admin.company_code = #{company_code}
          AND admin.admin_code = zone.admin_code
          And zone.zone_code = site.zone_code;
    </select>
    <select id="findCompanyCode" resultType="Integer">
        select admin.company_code
        from site,
             zone,
             admin
        where site.site_code = #{site_code}
          And site.zone_code = zone.zone_code
          And zone.admin_code = admin.admin_code
    </select>
    <select id="select" resultType="SiteDTO">
        SELECT *
        FROM site
        WHERE site_code = #{site_code}
    </select>
    <select id="selectView" resultType="SiteDTO">
        SELECT 
            s.site_code site_code, s.zone_code zone_code, s.site_name site_name, s.site_content site_content, s.site_price site_price, i.image_code image_code, i.image_file image_file 
        FROM 
            site s 
        JOIN 
            image i 
        ON 
            s.site_code=i.site_code 
        WHERE 
            s.site_code=#{site_code}
    </select>\
    <select id="selectSet" parameterType="Integer" resultType="SiteDTO">
        SELECT * FROM site
			JOIN zone ON zone.zone_code=site.zone_code
			JOIN admin ON admin.admin_code=zone.admin_code
				WHERE admin.company_code=#{company_code}
    </select>
    <insert id="insert" parameterType="SiteDTO">
        INSERT INTO site(zone_code, site_name, site_proce, site_content) VALUES(#{zone_code}, #{site_name}, #{site_proce}, #{site_content})
    </insert>
</mapper>