<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camp.admin.mapper.ZoneMapper">
    <select id="selectAll" resultType="ZoneDTO">
        SELECT * FROM Zone
    </select>
    <select id="select" resultType="ZoneDTO">
        SELECT * FROM Zone WHERE zone_code=#{zone_code}
    </select>
    <insert id="insert" parameterType="ZoneDTO">
        INSERT INTO zone(admin_code, zone_name, zone_content) VALUES(#{admin_code}, #{zone_name}, #{zone_content})
    </insert>
    <update id="update" parameterType="ZoneDTO">
        UPDATE zone SET zone_name=#{zone_name}, zone_content=#{zone_content}, zone_state=#{zone_state} WHERE zone_code=#{zone_code}
    </update>
    <delete id="delete">
        DELETE FROM zone WHERE zone_code=#{zone_code}
    </delete>
    
    <select id="selectZone" parameterType="Integer" resultType="ZoneDTO">
        SELECT zone.zone_code, zone.admin_code, zone_name, zone_content, zone_state
			FROM zone
    			JOIN admin ON zone.admin_code=admin.admin_code
    				WHERE admin.company_code=#{companycode}
    </select>
</mapper>