<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camp.admin.mapper.ZoneMapper">
    <select id="selectAll" resultType="ZoneDTO">
        SELECT * FROM zone
    </select>
    <select id="select" resultType="ZoneDTO">
        SELECT * FROM zone WHERE zone_code=#{zone_code}
    </select>
    <insert id="insert" parameterType="ZoneDTO">
        INSERT INTO zone(admin_code, zone_name, zone_content) VALUES(#{admin_code}, #{zone_name}, #{zone_content})
    </insert>
    <update id="update" parameterType="ZoneDTO">
        UPDATE zone SET zone_name=#{zone_name}, zone_content=#{zone_content} WHERE zone_code=#{zone_code}
    </update>
    <update id="updateDel" parameterType="ZoneDTO">
        UPDATE zone SET zone_state=0 WHERE zone_code=#{zone_code}
    </update>
    <select id="selectZone" parameterType="Integer" resultType="ZoneDTO">
        SELECT zone.zone_code, zone.admin_code, zone_name, zone_content, zone_state
			FROM zone
    			JOIN admin ON zone.admin_code=admin.admin_code
    				WHERE admin.company_code=#{companycode}
    </select>
    <select id="selectForEdit" resultType="ZoneDTO">
    	SELECT z.zone_code, z.admin_code, z.zone_name, z.zone_content, z.zone_state, i.image_code, i.image_file
			FROM zone z
				JOIN image i ON z.zone_code=i.zone_code 
					WHERE i.zone_code=#{zone_code}
    </select>
</mapper>